html,
body {
    height: 100%;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px;
}
#footer {
    background-color: #f5f5f5;
    height: 80px;
    line-height: 80px;
}
#push {
    height: 70px;
}
#footer ul {
  margin-bottom: 0px;
  /*height: 80px;*/
}
#footer ul li {
  padding-right: 15px;
}
#footer ul li a {
  font-size: 12px;
}
.page-header {
  margin: 10px 0 10px;
  padding-bottom: 0px;
  border: none;
}
.page-header .nav {
  margin-bottom: 0px;
}
.page-header .advers {
/*  width: 468px;
  height: 60px;
*/  margin-bottom: 5px;
}

.full-width {
  width: 85%;
}
.child-comment {
  margin: 10px 0px 0px 0px;
}

ul.inline, ol.inline {
  margin-left: 0;
  list-style: none;
}
.page-header .navbar-text {
  line-height: 36px;
}
ul.inline > li, ol.inline > li {
  display: inline-block;
  padding: 0;
  padding-right: 10px;
  /*padding-left: 5px;*/
}
.collapse ul {
  padding-left: 10px;
  padding-top: 10px;
}
.collapse hr {
  margin: 5px 0;
}
.collapse_comment {
  padding: 10px;
}
.collapse blockquote {
  margin: 0;
  padding: 10px;
}
.collapse table td, .collapse table th {
  line-height: 12px;
  padding: 6px;
}
#your_citys {
  font-size: 11px;
}
#your_citys a {
  text-decoration:none; 
  border-bottom:1px dotted;
}
#your_citys a:hover {
  text-decoration:none; 
  border-bottom: 1px solid;
}

textarea[name='comment_comment'] {
  height: 90px;
}

a.pseudo {
  text-decoration:none; 
  border-bottom:1px dashed;  
  cursor: pointer;
}
a.pseudo:hover {
  text-decoration:none; 
  border-bottom: 1px solid;
}
a.pseudo.disabled {
  color: #eee;
  text-decoration:none; 
  border-bottom:1px solid;  
}



#c_your_citys {
  font-size: 11px;
}
#c_your_citys a {
  text-decoration:none; 
  border-bottom:1px dotted;
}
#c_your_citys a:hover {
  text-decoration:none; 
  border-bottom: 1px solid;
}


#center-reg-div {
  margin-right: auto;
  margin-left: auto;
}
#new-reg-form {
  margin-right: auto;
  margin-left: auto;
  max-width: 550px;
}
#new-reg-form .control-group {
  margin-bottom: 7px;
}
#full-reg-form .control-group {
  margin-bottom: 7px;
}
#edit-reg-form {
  margin-right: auto;
  margin-left: auto;
  max-width: 750px;  
}
#edit-reg-form .control-group {
  margin-bottom: 7px;
}
#edit-reg-form img {
  margin: 0;
}
#edit-reg-form dt {
  width: 80px;
}
#edit-reg-form dd {
  margin-left: 100px;
}
#edit-reg-form a.thumbnail {
  display: inline-block;
  margin-left: 30px;
}

#feedback-form {
  margin-right: auto;
  margin-left: auto;
  max-width: 550px;
}

.hr-divider {
  margin: 40px 0;
}

.side-info-block {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; 
}
.side-info-block small a {
  margin-right: 4px;
}

#filter-form strong {
  margin-top: 5px;
}
#filter-form label.radio {
  font-size: 13px;
  margin-bottom: 0px;
  margin-left: 10px;
}
#filter-form button {
  margin-top: 7px;
}

@media (max-width: 767px) {
    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.files .progress {
  width: 200px;
}
.progress-animated .bar {
  background: url(../img/progressbar.gif) !important;
  filter: none;
}
.fileupload-loading {
  position: absolute;
  left: 50%;
  width: 128px;
  height: 128px;
  background: url(../img/loading.gif) center no-repeat;
  display: none;
}
.fileupload-processing .fileupload-loading {
  display: block;
}

.price-block {
  cursor: pointer;
  background-color: #DFF0D8;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.price-block:hover {
  background-color: #D9EDF7;
}
.price-block h3 {
  color: #5A5A5A;
  font-weight: normal;
}
.price-block div.main {
  font-size: 22px;
  height: 100%;
  vertical-align: middle;
  min-height: 150px;
  padding: 30px;
  margin-bottom: -30px;
}
.price-block div.price {
  padding: 20px;
  margin: 6px;
  min-height: 80px;
  background-color: #D9EDF7;

  font-size: 14px;
  font-weight: bold;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.price-block.disabled {
  background-color: #EEE;
  cursor: auto;
}
.bs-docs-sidenav {
  width: 215px;
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px 9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #E5E5E5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;  
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav .icon-chevron-right {
float: right;
margin-top: 2px;
margin-right: -6px;
opacity: .25;
}

#tenders-table td {
  cursor: pointer;
}
#tenders-table caption {
  font-size: 20px;
  font-weight: bold;
}
.tenders-table td {
  cursor: pointer;
}
.tenders-table caption {
  font-size: 20px;
  font-weight: bold;
}
a.nodecorate {
  text-decoration: none;
  color: #333;
}

#company-list div.row {
  margin-right: 0px;
  margin-left: 7px;
  margin-top: 4px;
  margin-bottom: 0px;
}
#company-list div.row ul {
  margin-bottom: 3px;
}
#company-list div.row ul li {
  font-size: 13px;
  line-height: 16px;
}
#company-list h5 {
  margin: 0px;
}
#company-list hr {
  margin: 3px;
}

#new-tender-form legend {
  margin-bottom: 8px;
}
#new-tender-form div.controls.row {
  height: 30px;
}
#new-tender-form .control-group {
  margin-bottom: 6px;
}
#new-tender-form label.checkbox {
  line-height: 30px;
  margin-bottom: 0px;
}
#new-tender-form label.checkbox input {
  margin-top: 10px;
}
#pass-modal form {
  margin-right: auto;
  margin-left: auto;
  max-width: 220px;
}

.stars { 
  position: relative; 
  float: left; 
  background: url('/static/img/star_u.png') repeat-x left top; 
  cursor: default; 
}
.stars .star { 
  height: 32px; 
  padding-left: 32px; 
  background: transparent none repeat-x left top; 
}
.stars .star.h16 { 
  height: 16px; 
}
.stars .rating { 
  position: absolute; 
  height: 100%; 
  background: url('/static/img/star_d.png') repeat-x left top; 
}

p.pseudo {
  margin: 0px;
}
p.pseudo a {
  border-bottom: 1px dotted #3A87AD;
}
p.pseudo a:hover {
  border-bottom: 1px dotted #3A87AD;
  text-decoration:none; 
}

div#sort-div p a {
  margin-right: 10px;
  font-size: 13px;
}

/*form.modal-final-form div.control-group {
  display: inline-block;
}
form.modal-final-form div.controls {
  display: inline-block;
}
*/
/* Fix for IE 6: */
* html .fileinput-button {
  line-height: 24px;
  margin: 1px -3px 0 0;
}

/* Fix for IE 7: */
* + html .fileinput-button {
  padding: 2px 15px;
  margin: 1px 0 0 0;
}

@media (max-width: 767px) {
  .files .btn span {
    display: none;
  }
  .files .preview * {
    width: 40px;
  }
  .files .name * {
    width: 80px;
    display: inline-block;
    word-wrap: break-word;
  }
  .files .progress {
    width: 20px;
  }
  .files .delete {
    width: 60px;
  }
  .affix {
    position: static;
    width: auto;
    top: 0;
  }
  #footer {
    line-height: 30px;
    height: 130px;
  }
  #footer ul {
    padding-top: 0px !important;
  }

}
