Писали из {{location}} <br/>
Ответить сюда: {{from_adress}}<br/><br/>
Суть:<br/>
{{ article }}
{% if request.user.username %}
<br/><br/>
<strong>Пользователь</strong>: {{request.user.username}}<br/>
{% endif %}
<br/><br/>
Тех.данные:<br/>
{% for key, meta_data in request.META.items %}
<strong>{{key}}</strong>: {{meta_data}}<br/>
{% endfor %}