<p>Здравствуйте!</p>

<p><strong>Поздравлем</strong>, вы разместили заказ на ТендерОкон.
Мы зарегистрировали вас на сайте:</p>
<p>
----------<br/>
Ваш логин: {{ user.email }} <br/>
Ваш пароль: {{ password }} <br/>
----------
</p>
<p>
Вы можете поменять свои данные и пароль,<br/>
а так же посмотреть тендеры и ответы на них по этому адресу<br/>
<a href="{{ site_url }}{% url my_tenders %}">{{ site_url }}{% url my_tenders %}</a>
</p>
