Заказчик тендера выбрал вашу компнию, как возможного исполнителя заказа.
<br/>
<br/>
Заказ <a href="{{site_url}}{% url show_tender tender_party.tender.id %}">№{{tender_party.tender.id}}</a>
<br/>
Заказчик: <a href="{{site_url}}{% url userena_profile_detail tender_party.tender.user.username %}">{{tender_party.tender.user.first_name}}</a>
<br/>
{% if tender_party.tender.user.my_profile.phone %}
Телефон заказчика: {{tender_party.tender.user.my_profile.phone}}
<br/>
{% endif %}
{% if tender_party.tender.user.email %}
Почта заказчика: {{tender_party.tender.user.email}}
<br/>
{% endif %}
<br/>
Детали тендера:<br/>
{{tender_party.tender.comment}}
<br/>
<br/>
Вы получили это письмо, так как участвуете в <a href="{{site_url}}{% url show_tender tender_party.tender.id %}">тендере №{{tender_party.tender.id}}</a> от лица <a href="{{site_url}}{% url show_company tender_party.user.my_profile.company.id %}">компании {{ tender_party.user.my_profile.company.c_title }}</a> на сайте <a href="{{ site_url }}">TenderOkon.ru</a>