{% extends "base.html" %}

{% block title %}TenderOkon - страница не найдена{% endblock %}

{% block keywords %}тендер, окна{% endblock %}

{% block content %}
<div class="alert alert-error" style='text-align: center'>
  <h2>Ошибка 404</h2>
  <strong>Страница не найдена :(</strong>
</div>
{% endblock %}
