{% extends "base.html" %}

{% block content %}
<form action="" method="post" class="form-horizontal span9" id="new-tender-form">
        <legend>Новый тендер</legend>
{% csrf_token %}
{% spaceless %}
{{ form.non_field_errors }}
<div class="control-group{% if tender_form.name.errors %} error{% endif%}">
    <label class="control-label" for="{{ tender_form.name.auto_id }}">{{ tender_form.name.label }}</label>
    <div class="controls">
        {{ tender_form.name }} 
        <span class="help-inline">
        {% if tender_form.name.errors %}
            {% for error in tender_form.name.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
</div>
<div class="control-group{% if tender_form.email.errors %} error{% endif%}">
    <label class="control-label" for="{{ tender_form.email.auto_id }}">{{ tender_form.email.label }}</label>
    <div class="controls">
        {{ tender_form.email }}
        <span class="help-inline">
        {% if tender_form.email.errors %}
            {% for error in tender_form.email.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
</div>
<div class="control-group{% if tender_form.phone.errors %} error{% endif%}">
    <label class="control-label" for="{{ tender_form.phone.auto_id }}">{{ tender_form.phone.label }}</label>
    <div class="controls">
        {{ tender_form.phone }}
        <span class="help-inline">
        {% if tender_form.phone.errors %}
            {% for error in tender_form.phone.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
</div>
<div class="control-group{% if tender_form.city_select.errors %} error{% endif%}">
    <label class="control-label" for="{{ tender_form.city_select.auto_id }}">{{ tender_form.city_select.label }}</label>
    <div class="controls">
        {{ tender_form.city_select }}
        {% if tender_form.city_select.errors %}
        <span class="help-inline">
            {% for error in tender_form.city_select.errors %}
            {{ error }}
            {% endfor %}
        </span>
        {% endif %}
        {{ tender_form.city }}
    </div>
    {% if example_citys|length > 0 %}
    <div class="controls" id="your_citys">Например:
        {% for key, value in example_citys.items %}{% spaceless %}
            <a href="#" id="example_city_{{ key }}" data-long="{{ value.1 }}">{{ value.0 }}</a>{% if not forloop.last %},&nbsp;{% endif %}
        {% endspaceless %}{% endfor %}
    </div> 
    {% endif %}
</div>
<div class="control-group{% if tender_form.title.errors %} error{% endif%}">
    <label class="control-label" for="{{ tender_form.title.auto_id }}">{{ tender_form.title.label }}</label>
    <div class="controls">
        {{ tender_form.title }}
        <span class="help-inline">
        {% if tender_form.title.errors %}
            {% for error in tender_form.title.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
</div>
<div class="control-group{% if tender_form.comment.errors %} error{% endif%}">
    <label class="control-label" for="{{ tender_form.comment.auto_id }}">{{ tender_form.comment.label }}</label>
    <div class="controls">
        {{ tender_form.comment }}
        <span class="help-inline">
        {% if tender_form.comment.errors %}
            {% for error in tender_form.comment.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
</div>
{% endspaceless %}
        <div class="controls">
        <button type="submit" class="btn btn-primary full-width"><i class="icon-thumbs-up icon-white"></i> Добавить</button>
        </div>
</form>

<div class="modal hide fade" tabindex="-1" role="dialog" id="pass-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Войти</h3>
  </div>
  <div class="modal-body">
    <form id="modal-login-form">
        <label class="control-label" for="{{ sign_in_form.identification.auto_id }}">{{ sign_in_form.identification.label }}</label>
          {{ sign_in_form.identification }}
        <label class="control-label" for="{{ sign_in_form.password.auto_id }}">{{ sign_in_form.password.label }}</label>
        {{ sign_in_form.password }}
        <a href="{% url userena_password_reset %}" target="blank">Забыл пароль :(</a>
    </form>    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    <button class="btn btn-primary" id="modal-login-form-submit">Войти</button>
  </div></div>

<script>
$(document).ready(function(){
    $('#id_city_select').typeahead({
        source: function(query, process){
            objects = [];
            map = {};
            $.get("{% url get_citys %}", {query: query}, function(data){
                jdata = data;
            });
            $.each(jdata, function(i, object) {
                map[object.nname] = object;
                objects.push(object.nname);
            });       
            process(objects);     
        },
        updater: function(item) {
            $('#id_city').val(map[item].id);
            return item;
        }        
    });

    $(document).on('blur', '#id_email:not(.uneditable-input)', function(){
        $.post("{% url check_mail %}", 
            {
                email: $('#id_email').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            function(data){
                if (data.success == 3){
                    if ($('div#pass-quest').length<=0){
                        $('#id_email').parent().parent().after('<div class="control-group" id="pass-quest"><div class="controls">Такая почта уже есть. Это вы?<button href="{% url userena_signin %}" id="pass-quest-yes" data-target="pass-modal" class="btn btn-mini btn-success"><i class="icon-user icon-white"></i> Да! Введу пароль</button>  <button id="pass-quest-no" class="btn btn-mini btn-warning"><i class="icon-repeat icon-white"></i> Неа :( Введу другую почту</button></div></div>');                
                    }
                } else if (data.success == 2 && $('div#pass-quest').length>0) {
                    $('#pass-quest').hide('fast', function() { 
                        $(this).remove(); 
                    });                    
                }
            }
        );
    });

    $(document).on('click', '#pass-quest-yes', function(e){
        $('#id_identification').val($('#id_email').val());
        $('#pass-modal').modal('show');
        $('#pass-quest').hide('slow', function() { 
            $(this).remove(); 
        });
        e.preventDefault();                
    });
    
    $(document).on('click', '#pass-quest-no', function(e){
        $('#id_email').val('');
        $('#pass-quest').hide('slow', function() { 
            $(this).remove(); 
        });
        $('#id_email').focus();
        e.preventDefault();                
    });

    $('#modal-login-form-submit').on('click', function(e){
        $('#modal-login-form').submit();
        e.preventDefault();                
    });

    $('#modal-login-form').on('submit', function(e){
        $.ajax({
            url: '{% url ajax_login %}',
            type: 'POST',
            data: {
                csrfmiddlewaretoken: '{{csrf_token}}',
                identification: $('#id_identification').val(),
                password: $('#id_password').val()
            },
        }).done(function(data){
            if(data.success == 1) {
                // console.log(data);
                if(data.user.name != null && data.user.name != 'undefined'){
                    $('#id_name').val(data.user.name);
                    $('#id_name').addClass('uneditable-input').attr('readonly', 'readonly');
                }
                if(data.user.email != null){
                    $('#id_email').val(data.user.email);
                    $('#id_email').addClass('uneditable-input').attr('readonly', 'readonly');
                }
                if(data.user.phone != null && data.user.phone != 'undefined'){
                    $('#id_phone').val(data.user.phone);
                    $('#id_phone').addClass('uneditable-input').attr('readonly', 'readonly');
                }
                if(data.user.city_select != null){
                    $('#id_city_select').val(data.user.city_select);
                }
                if(data.user.city != null){
                    $('#id_city').val(data.user.city);
                }
                $('#pass-modal').modal('hide');   
            }
        });
        e.preventDefault();
    });

    $('div#your_citys a').click(function(e) {
        citya = $(this);
        citylongname = citya.attr('data-long');
        cityid = citya.attr('id').split('_')[2];

        $('#id_city').val(cityid);
        $('#id_city_select').val(citylongname);
        e.preventDefault();
    });
});
</script>
{% endblock %}