{% extends "base.html" %}
{% load humanize %}
{% load endless %}
{% load my_tags %}
{% load add_get_parameter %}

{% block content %}
<div class="row-fluid">
    <div class="span3">
        {% if tenders|length > 0 %}    
        <div class="side-info-block alert alert-info">
<!--             <form action="" method="get" id="filter-form">
            {% for field in filter_form %}
            {% if field.name == 'tender_type' or field.name == 'activity'%}                
            <strong>{{field.label}}</strong>
                {% for radio in field %}
                <label class="radio">{{ radio.tag }}{{ radio.choice_label }}</label> 
                {% endfor %}
            {% else %}
            {{ field }}
            {% endif %}
            {% endfor %}
            <div>
            <button type="submit" class="btn btn-primary"><i class="icon-thumbs-up icon-white"></i> Показать</button> &nbsp;<i class="icon-question-sign" rel="tooltip" data-placement="right" title="Можно настроить сортировку заказов!"></i>
            </div>
            </form>
 -->        
            {% for tender in tenders %}
            
            {% ifequal tender.city.id|floatformat:"0" request.GET.city_id %}
            <strong>Сейчас: {{ tender.city.name }}</strong><br/>
            {% endifequal %}
            {% endfor %}
                
            {% if request.GET.city_id == 'all' or not request.GET.city_id %}
                <strong rel="tooltip" data-placement="right" title="Сейчас выбраны Все города"><small>Все</small></strong><br/>
            {% else %}
                <small rel="tooltip" data-placement="right" title="Можно выбрать все города!"><a href="{% add_get city_id='all' %}">Все</a></small><br/>
            {% endif %}
            {% ifequal request.GET.city_id 'region' %}
                <strong rel="tooltip" data-placement="right" title="Сейчас выбран ваш регион"><small>Регион</small></strong><br/>
            {% else %}
                <small rel="tooltip" data-placement="right" title="Можно выбрать все города вашего региона!"><a href="{% add_get city_id='region' %}">Регион</a></small><br/>
            {% endifequal%}

        {% if tenders|length > 1 %}
            <strong>Ближайшие к вам города:</strong> &nbsp;<i class="icon-question-sign" rel="tooltip" data-placement="right" title="Можно выбрать заказы в одном конкретном городе!"></i><br/>
            {% for tender in tenders|dictsort:"distance" %}
            {% if forloop.counter <= 5%}
                {% if tender.city.id|floatformat:"0" != requet.GET.city_id %}
                <small><a href="{% add_get city_id=tender.city.id %}">{{ tender.city.name }}</a></small>
                {% endif %}
            {% endif %}
            {% endfor%}
            
        {% if tenders|length >= 5 %}
            <br/>
            <p class="pseudo" ><a href="#" id="toggle_city_list" rel="tooltip" data-placement="right" title="Показать ещё больше городов">ещё <i class="icon-chevron-right"></i></a></p>
        
            <div id="hidden_city_list" style="display: none;">
            {% for tender in tenders|dictsort:"distance" %}
            {% if forloop.counter > 5 %}
                {% if tender.city.id|floatformat:"0" != requet.GET.city_id %}
                <small><a href="{% add_get city_id=tender.city.id %}">{{ tender.city.name }}</a></small>
                {% endif %}
            {% endif %}
            {% endfor%}
            </div>
        {% endif %}
        {% endif %}
        </div>
    {% endif %}
    </div>
    <!--    <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix">
            <li><a href="#"><i class="icon-chevron-right"></i>Меню 1</a></li>
            <li><a href="#"><i class="icon-chevron-right"></i>Меню 2</a></li>
            <li><a href="#"><i class="icon-chevron-right"></i>Меню 3</a></li>
        </ul>
    </div> -->

    <div class="span9">
    {% if tenders|length > 0 %}
    <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span class="label label-info">Лавандовым</span> отмечены тендеры, размещенные другими исполнителями.<br/>
    <span class="label label-success">Зеленым</span> отмечено количество участников тендера.<br/>
    </div>
    
    <div id="sort-div">
    <p>

    {% if request.GET.sort == 'timedown' %}
      <a href="{% add_get sort='timeup' %}">по времени <i class="icon-chevron-down"></i></a>
      <a href="{% add_get sort='distup' %}">по растоянию</a>    
    {% endif %}
    {% if request.GET.sort == 'timeup' %}
      <a href="{% add_get sort='timedown' %}">по времени <i class="icon-chevron-up"></i></a>
      <a href="{% add_get sort='distup' %}">по растоянию</a>    
    {% endif %}
    {% if request.GET.sort == 'distup' %}
      <a href="{% add_get sort='timeup' %}">по времени</a>
      <a href="{% add_get sort='distdown' %}">по растоянию <i class="icon-chevron-up"></i></a>
    {% endif %}
    {% if request.GET.sort == 'distdown' %}
      <a href="{% add_get sort='timeup' %}">по времени</a>
      <a href="{% add_get sort='distup' %}">по растоянию <i class="icon-chevron-down"></i></a>
    {% endif %}
    {% if not request.GET.sort or request.GET.sort|length <= 0 %}
      <a href="{% add_get sort='timedown' %}">по времени <i class="icon-chevron-up"></i></a>
      <a href="{% add_get sort='distup' %}">по растоянию</a>    
    {% endif %}

    </p>
    </div>

    <table class="table table-hover" id="tenders-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Где</th>
                <th>Суть</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
{% with tender_list=tenders %}    
{% regroup cities|dictsort:"country" by country as country_list %}
    {% paginate 20 tender_list %}
    {% for tender in tender_list %}
        <tr data-tender-id="{{ tender.id }}" 
            {% if tender.state.0.state and tender.state.0.state != 'new' and tender.state.0.state != 'work' and tender.state.0.state != 'open' %}
                class="error"
            {% else %}
                {% if tender.user.my_profile.company.id %}
                    class="info"
                {% endif %}
            {% endif %}
        >
            <td class="span1"><a href="{% url show_tender tender.id %}" class="a_decorated">{{ tender.id }}</a></td>
            <td class="span2"><a href="{% url show_tender tender.id %}" class="a_decorated">
                <strong>{{ tender.city.name }}</strong><br/>
                <small>{{ tender.city.region.name }}, {{ tender.city.region.country.name }}</small>
                </a>
                {% if tender.distance > 0 %}
                    <br/>
                    <small>{{tender.distance|floatformat}}км</small>
                {% endif %}

                {% if tender.user.my_profile.company.id %}
                    <br/><br/><small>Компания {{ tender.user.my_profile.company.c_title }}</small>
                {% endif %}
            </td>
            <td>
                <div class="clearfix">
                    <p class="pull-left">
                        <span class="label {% spaceless %}
                        {% if tender.duration == '3' %}
                        label-warning
                        {% endif %}
                        {% if tender.duration == '15' %}
                        label-info
                        {% endif %}
                        {% endspaceless %}">
                            {{ tender.get_duration_display }}
                        </span>
                    </p>

                    <p class="pull-right">
                        <small>{{ tender.time_to_finish|min_to_time }}</small>
                    </p>
                </div>
                    <p>{% spaceless %}{% if tender.comment|length > 250 %}
                        {{ tender.comment|slice:"200"|linebreaks }} >>
                        {% endif %}
                        {% if tender.comment|length < 250%}
                        {{ tender.comment|linebreaks }}
                        {% endif %}
                        {% endspaceless %}
                    </p>
            </td>
            <td class="span2">{% spaceless %}
                <p class="text-center">
                <small>{{ tender.datetime_add|date:"H:i" }} {{ tender.datetime_add|naturalday }}</small><br/>
                {% if tender.you_company_in_party == 'yes' %}
                <span class="badge badge-important" rel="tooltip" title="Ваша компания участвует!" data-placement="left"><i class="icon-exclamation-sign icon-white"></i></span>
                {% endif %}
                {% if tender.party_count > 0 %}
                <br/>
                <span class="badge badge-success" rel="tooltip" title="Количество участников" data-placement="left">{{tender.party_count}}</span>
                {% endif %}
                </p>
            {% endspaceless %}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>

{% show_pages %}
{% endwith %}

<!--
{% if tenders.paginator.num_pages > 1 %}
<div class="pagination pagination-centered">
    <ul>
        {% if tenders.has_previous %}
            <li><a href="?page={{ tenders.previous_page_number }}">&laquo;</a></li>
        {% endif %}
        {% for page_number in tenders.paginator.page_range %}
        <li{%if page_number == tenders.number %} class="active"{% endif %}><a href="?page={{ page_number }}">{{ page_number }}</a></li>
        {% endfor %}
        {% if tenders.has_next %}
            <li><a href="?page={{ tenders.next_page_number }}">&raquo;</a></li>
        {% endif %}
    </ul>
</div>    
{% endif %}
-->

    {% endif %}        
    </div>
</div>

<script>
$(document).ready(function(){
    $("#tenders-table a.a_decorated").removeClass('a_decorated').addClass('nodecorate');
    $("#tenders-table td").click(function(e){
        tender_id = $(this).parent().attr('data-tender-id');
        window.location = "{% url show_tender 999 %}".replace(999, tender_id);
        e.preventDefault();
    });

    $("#toggle_city_list").click(function(e){
        var chevron = $(this).children("i");
        if (chevron.hasClass("icon-chevron-right")) {
            chevron.removeClass('icon-chevron-right').addClass('icon-chevron-down');
        } else {
            chevron.removeClass('icon-chevron-down').addClass('icon-chevron-right');
        }
        $("#hidden_city_list").toggle();
        e.preventDefault();
    });

    $('body').tooltip({
        selector: "[rel=tooltip]"
    });

});
</script>

{% endblock %}