{% extends "base.html" %}
{% load humanize %}
{% load my_tags %}

{% block content %}
<script src="{{ STATIC_URL }}js/bootstrap-select.js"></script>
<link href="{{ STATIC_URL }}css/bootstrap-select.css" rel="stylesheet" />

{% if tenders|length > 0 %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span class="label label-success">Зеленым</span> отмечено количество участников тендера.
    </div>

<div class="row-fluid">
    
    <div class="span6">
    {% if tenders|state_in:"new,open,work" %}    
    <table class="table table-hover tenders-table">
        <caption>Активные заказы</caption>
        <thead>
            <tr>
                <th>#</th>
                <th>Суть</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
    {% for tender in tenders %}
        {% if not tender.datetime_finish or tender.datetime_finish == 'None' %}
        <tr data-tender-id="{{ tender.id }}" 
            {% if tender.user.my_profile.company.id %}
                class="info"
            {% endif %}
        >
            <td class="span1 click_td"><a href="{% url show_tender tender.id %}" class="a_decorated">{{ tender.id }}</a></td>
            <td class="click_td">
                <a href="{% url show_tender tender.id %}" class="a_decorated">
                <strong>{{ tender.city.name }}</strong> <small>{{ tender.city.region.name }}, {{ tender.city.region.country.name }}</small>
                </a>
                {% if tender.user.my_profile.company.id %}
                    <br/><small>Компания {{ tender.user.my_profile.company.c_title }}</small>
                {% endif %}                
                <div class="clearfix">
                    <p class="pull-left">
                        <span class="label {% spaceless %}
                        {% if tender.duration == '3' %}
                        label-warning
                        {% endif %}
                        {% if tender.duration == '15' %}
                        label-info
                        {% endif %}
                        {% endspaceless %}">
                            {{ tender.get_duration_display }}
                        </span>
                    </p>

                    <p class="pull-right">
                        <small>{{ tender.time_to_finish|min_to_time }}</small>
                    </p>
                </div>
                <p>{% spaceless %}{% if tender.comment|length > 250 %}
                    {{ tender.comment|slice:"200"|linebreaks }} >>
                    {% endif %}
                    {% if tender.comment|length < 250%}
                    {{ tender.comment|linebreaks }}
                    {% endif %}
                {% endspaceless %}</p>
            </td>
            <td class="span2 click_td">{% spaceless %}
                <p class="text-center">
                <small>{{ tender.datetime_add|date:"H:i" }}  {{ tender.datetime_add|naturalday }}</small><br/>
                {% if tender.you_company_in_party == 'yes' %}
                <span class="badge badge-important" rel="tooltip" title="Ваша компания участвует!" data-placement="left"><i class="icon-exclamation-sign icon-white"></i></span>
                {% endif %}
                {% if tender.party_count > 0 %}
                <br/>
                <span class="badge badge-success" rel="tooltip" title="Количество участников" data-placement="left">{{tender.party_count}}</span>
                {% endif %}
                </p>
            {% endspaceless %}</td>
        </tr>
    {% endif %}
    {% endfor %}
        </tbody>
    </table>
    {% endif %}
    </div>
    
    <div class="span6">    
    {% if tenders|tupo_zav %} 
    <table class="table table-hover tenders-table">
        <caption>Завершенные заказы</caption>
        <thead>
            <tr>
                <th>#</th>
                <th>Суть</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
    {% for tender in tenders %}
        {% if tender.datetime_finish and tender.datetime_finish != 'None' %}
        {% if tender.party_count > 0 and not tender.final_comment %}

        <tr data-tender-id="{{ tender.id }}" 
            {% if tender.user.my_profile.company.id %}
                class="info"
            {% endif %}
        >
            <td class="span1 click_td"><a href="{% url show_tender tender.id %}" class="a_decorated">{{ tender.id }}</a></td>
            <td class="click_td">
                <a href="{% url show_tender tender.id %}" class="a_decorated">
                <strong>{{ tender.city.name }}</strong> <small>{{ tender.city.region.name }}, {{ tender.city.region.country.name }}</small>
                </a>
                {% if tender.user.my_profile.company.id %}
                    <br/><small>Компания {{ tender.user.my_profile.company.c_title }}</small>
                {% endif %}                
                <div class="clearfix">
                    <p class="pull-left">
                        <span class="label {% spaceless %}
                        {% if tender.tender_type == 'production' %}
                        label-success
                        {% endif %} 
                        {% if tender.tender_type == 'sale' %}
                        label-important
                        {% endif %} 
                        {% endspaceless %}">
                        {{ tender.get_tender_type_display }}
                        </span>

                        <span class="label {% spaceless %}
                        {% if tender.activity == 'polygraphy' %}
                        label-success
                        {% endif %} 
                        {% if tender.activity == 'plastic' %}
                        label-info
                        {% endif %} 
                        {% endspaceless %}">
                        {{ tender.get_activity_display }}
                        </span>
                    </p>

                    <p class="pull-right">
                        <small>{{ tender.time_to_finish|min_to_time }}</small>
                        <span class="label {% spaceless %}
                        {% if tender.duration == '3' %}
                        label-warning
                        {% endif %}
                        {% if tender.duration == '15' %}
                        label-info
                        {% endif %}
                        {% endspaceless %}">
                            {{ tender.get_duration_display }}
                        </span>
                    </p>
                </div>
                <p>{% spaceless %}{% if tender.comment|length > 250 %}
                    {{ tender.comment|slice:"200" }} >>
                    {% endif %}
                    {% if tender.comment|length < 250%}
                    {{ tender.comment }}
                    {% endif %}
                {% endspaceless %}</p>
            </td>
            <td class="span2">{% spaceless %}
                <p class="text-center">
                <small>{{ tender.datetime_add|date:"H:i" }}  {{ tender.datetime_add|naturalday }}</small><br/>
                <small><strong>{{ tender.datetime_finish|date:"H:i" }}  {{ tender.datetime_finish|naturalday }}</strong></small>
                {% if tender.party_count > 0 %}
                <br/>
                <span class="badge badge-success" rel="tooltip" title="Количество участников" data-placement="left">{{tender.party_count}}</span>
                {% endif %}
                <br/><a href="#" class="btn btn-primary" data-tender="{{tender.id}}">Завершить</a>
                </p>
            {% endspaceless %}</td>
        {% spaceless %}
        <div class="modal hide fade" tabindex="-1" role="dialog" id="final-modal-{{tender.id}}">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Чем всё завершилось?</h3>
          </div>
          <div class="modal-body">  
            <div class="row">
                <div class="span5">
                    <strong class="pull-right">Оцените, как всё прошло?</strong>
                </div>
                <div class="span7">
                    <span class="star-cb-group">
                      <input type="radio" id="rating-{{tender.id}}-5" value="5" name="rating-{{tender.id}}" /><label for="rating-{{tender.id}}-5">5</label>
                      <input type="radio" id="rating-{{tender.id}}-4" value="4" name="rating-{{tender.id}}" /><label for="rating-{{tender.id}}-4">4</label>
                      <input type="radio" id="rating-{{tender.id}}-3" value="3" name="rating-{{tender.id}}" /><label for="rating-{{tender.id}}-3">3</label>
                      <input type="radio" id="rating-{{tender.id}}-2" value="2" name="rating-{{tender.id}}" /><label for="rating-{{tender.id}}-2">2</label>
                      <input type="radio" id="rating-{{tender.id}}-1" value="1" name="rating-{{tender.id}}" /><label for="rating-{{tender.id}}-1">1</label>
                      <input type="radio" id="rating-{{tender.id}}-0" value="0" class="star-cb-clear" checked="checked" name="rating-{{tender.id}}" /><label for="rating-{{tender.id}}-0">0</label>
                    </span>    
                </div>
            </div>
        {% if tender.party and tender.party|length > 0 %}
            <div class="row">
                <div class="span5">
                    <strong class="pull-right">С кем работали</strong>
                </div>
                <div class="span7">
                    <select class="selectpicker" id="company-id-{{tender.id}}" title='Выберите одно из предложенных...'>
                        <optgroup label="Выбранные">
                        {% for party in tender.party %}
                            {% if party.send %}
                                <option value="{{ party.user.my_profile.company.id }}">{{ party.user.my_profile.company.c_title }}</option>
                            {% endif %}
                        {% endfor %}
                      </optgroup>
                      <optgroup label="Остальные">
                        {% for party in tender.party %}
                            {% if not party.send %}
                                <option value="{{ party.user.my_profile.company.id }}">{{ party.user.my_profile.company.c_title }}</option>
                            {% endif %}
                        {% endfor %}
                      </optgroup>
                    </select>
                </div>
            </div>
        {% endif %}
            <div class="row-fluid">
                <div class="span12">
                    <label><strong>Напишите что-нибудь</strong></label>
                    <textarea cols="20" rows="4" id="comment-{{tender.id}}" style="width: 90%;"></textarea>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
            <button class="btn btn-primary final-modal-submit" data-tender="{{ tender.id }}">Ок</button>
          </div>
        </div>
        {% endspaceless %}

        </tr>
    {% endif %}
    {% endif %}
    
    {% endfor %}
        </tbody>
    </table>
    {% endif %}


    {% if tenders|state_in:"uclose,tclose,final,nottaken,taken" %}

    <h4><a class="pseudo" id="showarh" href="#">Архив</a></h4>
    <table class="table table-hover tenders-table" id="tenders-table-arh">
        <thead>
            <tr>
                <th>#</th>
                <th>Суть</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
    {% for tender in tenders %}
        {% if tender.datetime_finish and tender.datetime_finish != 'None' %}
        {% if tender.party_count == 0 or tender.final_comment %}
        <tr data-tender-id="{{ tender.id }}" 
            {% if tender.user.my_profile.company.id %}
                class="info"
            {% endif %}
        >
            <td class="span1 click_td"><a href="{% url show_tender tender.id %}" class="a_decorated">{{ tender.id }}</a></td>
            <td class="click_td">
                <a href="{% url show_tender tender.id %}" class="a_decorated">
                <strong>{{ tender.city.name }}</strong> <small>{{ tender.city.region.name }}, {{ tender.city.region.country.name }}</small>
                </a>
                {% if tender.user.my_profile.company.id %}
                    <br/><small>Компания {{ tender.user.my_profile.company.c_title }}</small>
                {% endif %}                
                <div class="clearfix">
                    <p class="pull-left">
                        <span class="label {% spaceless %}
                        {% if tender.tender_type == 'production' %}
                        label-success
                        {% endif %} 
                        {% if tender.tender_type == 'sale' %}
                        label-important
                        {% endif %} 
                        {% endspaceless %}">
                        {{ tender.get_tender_type_display }}
                        </span>

                        <span class="label {% spaceless %}
                        {% if tender.activity == 'polygraphy' %}
                        label-success
                        {% endif %} 
                        {% if tender.activity == 'plastic' %}
                        label-info
                        {% endif %} 
                        {% endspaceless %}">
                        {{ tender.get_activity_display }}
                        </span>
                    </p>

                    <p class="pull-right">
                        <small>{{ tender.time_to_finish|min_to_time }}</small>
                        <span class="label {% spaceless %}
                        {% if tender.duration == '3' %}
                        label-warning
                        {% endif %}
                        {% if tender.duration == '15' %}
                        label-info
                        {% endif %}
                        {% endspaceless %}">
                            {{ tender.get_duration_display }}
                        </span>
                    </p>
                </div>
                <p>{% spaceless %}{% if tender.comment|length > 250 %}
                    {{ tender.comment|slice:"200"|linebreaks }} >>
                    {% endif %}
                    {% if tender.comment|length < 250%}
                    {{ tender.comment|linebreaks }}
                    {% endif %}
                {% endspaceless %}</p>
            </td>
            <td class="span2">{% spaceless %}
                <p class="text-center">
                <small>{{ tender.datetime_add|date:"H:i" }}  {{ tender.datetime_add|naturalday }}</small><br/>
                <small><strong>{{ tender.datetime_finish|date:"H:i" }}  {{ tender.datetime_finish|naturalday }}</strong></small><br/>
                {% if tender.you_company_in_party == 'yes' %}
                <span class="badge badge-important" rel="tooltip" title="Ваша компания участвует!" data-placement="left"><i class="icon-exclamation-sign icon-white"></i></span>
                {% endif %}
                {% if tender.party_count > 0 %}
                <br/>
                <span class="badge badge-success" rel="tooltip" title="Количество участников" data-placement="left">{{tender.party_count}}</span>
                {% endif %}
                </p>
            {% endspaceless %}</td>
        </tr>
    {% endif %}
    {% endif %}
    {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <div id="push"></div>

    </div>

</div>

<style> 
.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
  /* this is gross, I threw this in to override the starred
     buttons when hovering. */
}
.star-cb-group * {
  font-size: 28px;
}
.star-cb-group > [type*="radio"] {
  display: none;
}
.star-cb-group > [type*="radio"] + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  height: 30px;
  white-space: nowrap;
  line-height: 30px;
}
.star-cb-group > [type*="radio"] + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: '\2606';
  /* WHITE STAR */
  color: #888;
}
.star-cb-group > [type*="radio"]:checked ~ label:before, .star-cb-group > [type*="radio"] + label:hover ~ label:before, .star-cb-group > [type*="radio"] + label:hover:before {
  content: '\2605';
  /* BLACK STAR */
  color: #e52;
  text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear[type*="radio"] + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear[type*="radio"] + label:before {
  width: .5em;
  height: 1.4em;
}
.star-cb-group:hover > [type*="radio"] + label:before {
  content: '\2606';
  /* WHITE STAR */
  color: #888;
  text-shadow: none;
}
.star-cb-group:hover > [type*="radio"] + label:hover ~ label:before, .star-cb-group:hover > [type*="radio"] + label:hover:before {
  content: '\2605';
  /* BLACK STAR */
  color: #e52;
  text-shadow: 0 0 1px #333;
}
  
</style>

<script>
$(document).ready(function(){
    $(".tenders-table a.a_decorated").removeClass('a_decorated').addClass('nodecorate');
    $("#tenders-table-arh").css("display", "none");

    $(".tenders-table td.click_td").click(function(e){
        tender_id = $(this).parent().attr('data-tender-id');
        window.location = "{% url show_tender 999 %}".replace(999, tender_id);
        e.preventDefault();
    });

    $("a[data-tender]").click(function(e){
        var this_btn = $(this);
        if (!this_btn.hasClass('disabled')){
            var tender_id = this_btn.attr('data-tender');
            var modal_id = '#final-modal-'+tender_id;
            $(modal_id).modal('show');
        }
        e.preventDefault();        
    });

    $(".final-modal-submit").click(function(e){
        var tender_id = $(this).attr("data-tender");
        var rating_name = "input[name*='rating-"+tender_id+"']:checked";
        var rating_value = $(rating_name).val();
        var work_company_name = "#company-id-"+tender_id;
        var work_company = $(work_company_name).val();
        var comment_name = "#comment-"+tender_id;
        var comment_text = $(comment_name).val();
        var btn_name = "a[data-tender='"+tender_id+"']";
        var modal_id = '#final-modal-'+tender_id;
        var btn = $(btn_name);
        // console.log(comment_text);

        $.post("{% url final_tender %}", 
            {
                tender: tender_id,
                rating: rating_value,
                company: work_company,
                comment: comment_text,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            function(data){
                console.log(data);
                if (data.success == 1){
                    btn.removeClass("btn-primary").addClass("disabled").addClass("btn-success").html("<i class='icon-thumbs-up icon-white'></i> Записали");
                    $(modal_id).modal('hide');
                } else {
                    // TODO: Вываливать сообщение об ошибке
                    btn.removeClass("disabled");
                }
            }
        );

        e.preventDefault(); 
    });

    $("#showarh").click(function(e){
        $("#tenders-table-arh").toggle("slow");
        e.preventDefault(); 
    });

    // $('[type*="radio"]').change(function () {
    //     var me = $(this);
    //     // console.log(me.attr('value'));
    // });

  $('body').tooltip({
      selector: '[rel=tooltip]',
      html: true
  });

});
</script>


{% endif %}        
{% endblock%}