{% extends "base.html" %}
{% load humanize %}
{% load my_tags %}

{% block content %}
{% if tenders|length > 0 %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span class="label label-success">Зеленым</span> отмечено количество участников тендера.
    </div>

<div class="row-fluid">
    
    <div class="span6">
    {% if tenders|finish_in_tender %}    
    <table class="table table-hover" id="tenders-table">
        <caption>Активные заказы</caption>
        <thead>
            <tr>
                <th>#</th>
                <th>Суть</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
    {% for tender in tenders %}
        {% if not tender.datetime_finish or tender.datetime_finish == 'None' %}
        <tr data-tender-id="{{ tender.id }}" 
            {% if tender.user.my_profile.company.id %}
                class="info"
            {% endif %}
        >
            <td class="span1"><a href="{% url show_tender tender.id %}" class="a_decorated">{{ tender.id }}</a></td>
            <td>
                <a href="{% url show_tender tender.id %}" class="a_decorated">
                <strong>{{ tender.city.name }}</strong> <small>{{ tender.city.region.name }}, {{ tender.city.region.country.name }}</small>
                </a>
                {% if tender.user.my_profile.company.id %}
                    <br/><small>Компания {{ tender.user.my_profile.company.c_title }}</small>
                {% endif %}                
                <div class="clearfix">
                    <p class="pull-left">
                        <span class="label {% spaceless %}
                        {% if tender.duration == '3' %}
                        label-warning
                        {% endif %}
                        {% if tender.duration == '15' %}
                        label-info
                        {% endif %}
                        {% endspaceless %}">
                            {{ tender.get_duration_display }}
                        </span>
                    </p>

                    <p class="pull-right">
                        <small>{{ tender.time_to_finish|min_to_time }}</small>
                    </p>
                </div>
                <p>{% spaceless %}{% if tender.comment|length > 250 %}
                    {{ tender.comment|slice:"200"|linebreaks }} >>
                    {% endif %}
                    {% if tender.comment|length < 250 %}
                    {{ tender.comment|linebreaks }}
                    {% endif %}
                {% endspaceless %}</p>
            </td>
            <td class="span2">{% spaceless %}
                <p class="text-center">
                <small>{{ tender.datetime_add|date:"H:i" }}  {{ tender.datetime_add|naturalday }}</small>
                {% if tender.party_count > 0 %}
                <br/>
                <span class="badge badge-success" rel="tooltip" title="Количество участников" data-placement="left">{{tender.party_count}}</span>
                {% endif %}
                </p>
            {% endspaceless %}</td>
        </tr>
    {% endif %}
    {% endfor %}
        </tbody>
    </table>
    {% endif %}
    </div>
    
    <div class="span6">
    {% if tenders|finish_notin_tender %}    
    <table class="table table-hover" id="tenders-table">
        <caption>Завершенные заказы</caption>
        <thead>
            <tr>
                <th>#</th>
                <th>Суть</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
    {% for tender in tenders %}
        {% if tender.datetime_finish and tender.datetime_finish != 'None' %}
        {% if tender.state.0.state != 'nottaken' and tender.state.0.state != 'taken' %}
        <tr data-tender-id="{{ tender.id }}" 
            {% if tender.user.my_profile.company.id %}
                class="info"
            {% endif %}
        >
            <td class="span1"><a href="{% url show_tender tender.id %}" class="a_decorated">{{ tender.id }}</a></td>
            <td>
                <a href="{% url show_tender tender.id %}" class="a_decorated">
                <strong>{{ tender.city.name }}</strong> <small>{{ tender.city.region.name }}, {{ tender.city.region.country.name }}</small>
                </a>
                {% if tender.user.my_profile.company.id %}
                    <br/><br/><small>Компания {{ tender.user.my_profile.company.c_title }}</small>
                {% endif %}                
                <div class="clearfix">
                    <p class="pull-left">
                        <span class="label {% spaceless %}
                        {% if tender.duration == '3' %}
                        label-warning
                        {% endif %}
                        {% if tender.duration == '15' %}
                        label-info
                        {% endif %}
                        {% endspaceless %}">
                            {{ tender.get_duration_display }}
                        </span>
                    </p>

                    <p class="pull-right">
                        <small>{{ tender.time_to_finish|min_to_time }}</small>
                    </p>
                </div>
                <p>{% spaceless %}{% if tender.comment|length > 250 %}
                    {{ tender.comment|slice:"200"|linebreaks }} >>
                    {% endif %}
                    {% if tender.comment|length < 250%}
                    {{ tender.comment|linebreaks }}
                    {% endif %}
                {% endspaceless %}</p>
            </td>
            <td class="span2">{% spaceless %}
                <p class="text-center">
                <small>{{ tender.datetime_add|date:"H:i" }}  {{ tender.datetime_add|naturalday }}</small><br/>
                <small><strong>{{ tender.datetime_finish|date:"H:i" }}  {{ tender.datetime_finish|naturalday }}</strong></small>
                {% if tender.party_count > 0 %}
                <br/>
                <span class="badge badge-success" rel="tooltip" title="Количество участников" data-placement="left">{{tender.party_count}}</span>
                {% endif %}
                </p>
            {% endspaceless %}</td>
        </tr>
    {% endif %}        
    {% endif %}
    {% endfor %}
        </tbody>
    </table>
    {% endif %}


    {% if tenders|state_in:"nottaken,taken" %}
    <h4><a class="pseudo" id="showarh" href="#">Архив</a></h4>
    <table class="table table-hover tenders-table" id="tenders-table-arh">
        <thead>
            <tr>
                <th>#</th>
                <th>Суть</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
    {% for tender in tenders %}
        {% if tender.datetime_finish and tender.datetime_finish != 'None' %}
        {% if tender.state.0.state == 'nottaken' or tender.state.0.state == 'taken' %}
        <tr data-tender-id="{{ tender.id }}" 
            {% if tender.user.my_profile.company.id %}
                class="info"
            {% endif %}
        >
            <td class="span1 click_td"><a href="{% url show_tender tender.id %}" class="a_decorated">{{ tender.id }}</a></td>
            <td class="click_td">
                <a href="{% url show_tender tender.id %}" class="a_decorated">
                <strong>{{ tender.city.name }}</strong> <small>{{ tender.city.region.name }}, {{ tender.city.region.country.name }}</small>
                </a>
                {% if tender.user.my_profile.company.id %}
                    <br/><small>Компания {{ tender.user.my_profile.company.c_title }}</small>
                {% endif %}                
                <div class="clearfix">
                    <p class="pull-left">
                        <span class="label {% spaceless %}
                        {% if tender.duration == '3' %}
                        label-warning
                        {% endif %}
                        {% if tender.duration == '15' %}
                        label-info
                        {% endif %}
                        {% endspaceless %}">
                            {{ tender.get_duration_display }}
                        </span>
                    </p>

                    <p class="pull-right">
                        <small>{{ tender.time_to_finish|min_to_time }}</small>
                    </p>
                </div>
                <p>{% spaceless %}{% if tender.comment|length > 250 %}
                    {{ tender.comment|slice:"200"|linebreaks }} >>
                    {% endif %}
                    {% if tender.comment|length < 250%}
                    {{ tender.comment|linebreaks }}
                    {% endif %}
                {% endspaceless %}</p>
            </td>
            <td class="span2">{% spaceless %}
                <p class="text-center">
                <small>{{ tender.datetime_add|date:"H:i" }}  {{ tender.datetime_add|naturalday }}</small><br/>
                <small><strong>{{ tender.datetime_finish|date:"H:i" }}  {{ tender.datetime_finish|naturalday }}</strong></small>
                {% if tender.party_count > 0 %}
                <br/>
                <span class="badge badge-success" rel="tooltip" title="Количество участников" data-placement="left">{{tender.party_count}}</span>
                {% endif %}
                </p>
            {% endspaceless %}</td>
        </tr>
    {% endif %}        
    {% endif %}
    {% endfor %}
        </tbody>
    </table>
    {% endif %}


    <div id="push"></div>

    </div>

</div>

<script>
$(document).ready(function(){
    $("#tenders-table a.a_decorated").removeClass('a_decorated').addClass('nodecorate');
    $("#tenders-table-arh").css("display", "none");

    $("#tenders-table td").click(function(e){
        tender_id = $(this).parent().attr('data-tender-id');
        window.location = "{% url show_tender 999 %}".replace(999, tender_id);
        e.preventDefault();
    });

    $("#showarh").click(function(e){
        $("#tenders-table-arh").toggle("slow");
        e.preventDefault(); 
    });

  $('body').tooltip({
      selector: '[rel=tooltip]',
      html: true
  });

});
</script>


{% endif %}        
{% endblock%}