<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}TenderOkon{% endblock %}</title>
    <meta name="description" content="{% block description %}тендер на окна{% endblock %}">
    <meta name="keywords" content="{% block keywords %}тендер, окна{% endblock %}" />

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet" />
    <!--[if IE 7]>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome-ie7.min.css">
    <![endif]-->

    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    
</head>
<body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41827368-1', 'tenderokon.ru');
  ga('send', 'pageview');

</script>

<div id="wrap">
    <div class="container">
        <div class="page-header masthead"> 
            <div class="row-fluid">
                <div class="logo span3"><img src="{{ STATIC_URL }}img/tenderokon_logo.png" alt="TenderOkon"></div>
                <!-- <h3 class="muted span3">TenderOkon</h3> -->
                <div class="advers span9">
                    {% if banner %}
                    <a href="http://{{ banner.company.c_site }}" target="_blank"><img src="{{ MEDIA_URL }}{{banner.image}}" alt="{{ banner.company.c_title }}" width="468" height="60" class="pull-right"></a>
                    {% else %}
                    <img src="{{ STATIC_URL }}img/468x60.gif" alt="Реклама" width="468" height="60" class="pull-right">
                    {% endif %}
                </div>
            </div>   
{% block navbar %}
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">{% spaceless %}
                    {% url all_tenders as all_tenders_url %}
                    {% url price_page as price_page_url %}      
                    {% url my_tenders as my_tenders_url %}      
                    {% url all_companys as all_companys_url %}      
                    {% url home as home_url %}   
                    {% url company_tenders as company_tenders_url %}   
                    {% url howitwork as howitwork_url %}   

                    <li{% if request.path == home_url %} class="active"{%endif%}><a href="{% url home %}">Главная</a></li>
                    <li{% if request.path == all_tenders_url %} class="active"{%endif%}><a href="{% url all_tenders %}">Все заказы</a></li>
                {% if user.is_authenticated %}                    
                    <li{% if request.path == my_tenders_url %} class="active"{%endif%}><a href="{% url my_tenders %}">Мои заказы</a></li>
                {% endif %}
                {% if user.my_profile.company %}                    
                    <li{% if request.path == company_tenders_url %} class="active"{%endif%}><a href="{% url company_tenders %}">Заказы компании</a></li>
                {% endif %}

                    <li{% if request.path == all_companys_url %} class="active"{%endif%}><a href="{% url all_companys %}">Все компании</a></li>
                    <li{% if request.path == howitwork_url %} class="active"{%endif%}><a href="{% url howitwork %}"><i class="icon-arrow-right"></i>Как это работает?</a></li>
                </ul>
                <ul class="nav pull-right">
    {% if user.is_authenticated %}
            <p class="navbar-text pull-right"><a href="{% url userena_profile_detail user.username %}"><i class="icon-user"></i>{% spaceless %}
            {% if user.first_name %}   
            {{ user.first_name }}
            {% else %}
            {{ user.email }}
            {% endif %}
            {% endspaceless %}</a> / <a href="{% url userena_signout %}">Выйти</a></p>
    {% else %}
            <p class="navbar-text pull-right"><a href="{% url userena_signin %}">Войти</a> / <a href="/accounts/signup/">Регистрация</a></p>
    {% endif %}
                </ul>
            </div>
        </div>        
{% endspaceless %}{% endblock %}
    </div>{% block annonce %}{% endblock %}{% block content %}{% endblock %}
</div>

<div id="push"></div>
</div>

<div id="footer">
  <div class="container">
    <div class="row-fluid">
        <div class="muted span2">
            {% block footer_title %}<a class="brand" href="{% url home %}">TenderOkon</a>{% endblock %}
        </div>

        <div class="span2">
            <ul class="unstyled" style="padding-top: 30px;">{% spaceless %}
                <li><a href="{% url all_tenders %}">Все заказы</a></li>
            {% endspaceless %}
            </ul>
        </div>

        <div class="span3">
            <ul class="unstyled" style="padding-top: 20px;">{% spaceless %}
                <li><a href="{% url company_signup %}">Регистрация для изготовителя</a></li>
                <li{% if request.path == price_page_url %} class="active"{%endif%}><a href="{% url price_page %}">Цены для изготовителей</a></li>
            {% endspaceless %}
            </ul>
        </div>

        <div class="span2">
            <ul class="unstyled" style="padding-top: 30px;">{% spaceless %}
                <li><a href="{% url howitwork %}">Как это работает?</a></li>
            {% endspaceless %}
            </ul>
        </div>

        <div class="muted span3 text-right"><a href="{% url feedback_page %}">Свяжитесь с нами</a></div>
    </div>
  </div>
</div>

<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter21552364 = new Ya.Metrika({id:21552364, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/21552364" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

</body>
</html>