{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<form action="" method="post" class="form-horizontal row" id="full-reg-form">
<div class="span6">
    <legend>Мастер логин</legend>
{% csrf_token %}
{% spaceless %}

{{ form.errors }}

<div class="control-group{% if form.name.errors %} error{% endif%}">
    <label class="control-label" for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
    <div class="controls">
        {{ form.name }} 
        <span class="help-inline">
        {% if form.name.errors %}
            {% for error in form.name.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
</div>
<div class="control-group{% if form.email.errors %} error{% endif%}">
    <label class="control-label" for="{{ form.email.auto_id }}">{{ form.email.label }}</label>
    <div class="controls">
        {{ form.email }} 
        <span class="help-inline">
        {% if form.email.errors %}
            {% for error in form.email.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
</div>
<div class="control-group{% if form.password1.errors %} error{% endif%}">
    <label class="control-label" for="{{ form.password1.auto_id }}">{{ form.password1.label }}</label>
    <div class="controls">
        {{ form.password1 }} 
        <span class="help-inline">
        {% if form.password1.errors %}
            {% for error in form.password1.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
</div>
<div class="control-group{% if form.password2.errors %} error{% endif%}">
    <label class="control-label" for="{{ form.password2.auto_id }}">{{ form.password2.label }}</label>
    <div class="controls">
        {{ form.password2 }} 
        <span class="help-inline">
        {% if form.password2.errors %}
            {% for error in form.password2.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
</div>
<div class="control-group{% if form.phone.errors %} error{% endif%}">
    <label class="control-label" for="{{ form.phone.auto_id }}">{{ form.phone.label }}</label>
    <div class="controls">
        {{ form.phone }}
        <span class="help-inline">
        {% if form.phone.errors %}
            {% for error in form.phone.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
</div>
<div class="control-group{% if form.city_select.errors %} error{% endif%}">
    <label class="control-label" for="{{ form.city_select.auto_id }}">{{ form.city_select.label }}</label>
    <div class="controls">
        <input type="text" name="{{ form.city_select.html_name }}" id="{{ form.city_select.auto_id }}" value="{{init_city_name}}" required="required" data-provide="typeahead" class="typeahead input-xlarge" autocomplete="off" >
        {% if form.city_select.errors %}
        <span class="help-inline">
            {% for error in form.city_select.errors %}
            {{ error }}
            {% endfor %}
        </span>
        {% endif %}
        <input type="hidden" name="{{ form.city.html_name }}" id="{{ form.city.auto_id }}" value="{{ init_city_id }}">
        <input type="hidden" name="{{ form.role.html_name }}" id="{{ form.role.auto_id }}" value="zavod">
        <input type="hidden" name="{{ form.master.html_name }}" id="{{ form.master.auto_id }}" value="zavod" value="1" checked="checked">
    </div>
    {% if example_citys|length > 0 %}
    <div class="controls" id="your_citys">Например:
        {% for key, value in example_citys.items %}{% spaceless %}
            <a href="#" id="example_city_{{ key }}" data-long="{{ value.1 }}">{{ value.0 }}</a>{% if not forloop.last %},&nbsp;{% endif %}
        {% endspaceless %}{% endfor %}
    </div> 
    {% endif %}
</div>

<div class="controls">
<button type="submit" class="btn btn-primary"><i class="icon-thumbs-up icon-white"></i> Регистрация фирмы</button>
</div>

</div>

<div class="span6">
<legend>Данные компании</legend>
<div class="control-group{% if form.c_title.errors %} error{% endif%}">
    <label class="control-label" for="{{ form.c_title.auto_id }}">{{ form.c_title.label }}</label>
    <div class="controls">
        {{ form.c_title }} 
        <span class="help-inline">
        {% if form.c_title.errors %}
            {% for error in form.c_title.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
</div>

<div class="control-group{% if form.c_email.errors %} error{% endif%}">
    <label class="control-label" for="{{ form.c_email.auto_id }}">{{ form.c_email.label }}</label>
    <div class="controls">
        {{ form.c_email }} 
        <span class="help-inline">
        {% if form.c_email.errors %}
            {% for error in form.c_email.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
</div>

<div class="control-group{% if form.c_phone.errors %} error{% endif%}">
    <label class="control-label" for="{{ form.c_phone.auto_id }}">{{ form.c_phone.label }}</label>
    <div class="controls">
        {{ form.c_phone }} 
        <span class="help-inline">
        {% if form.c_phone.errors %}
            {% for error in form.c_phone.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
</div>

<div class="control-group{% if form.c_site.errors %} error{% endif%}">
    <label class="control-label" for="{{ form.c_site.auto_id }}">{{ form.c_site.label }}</label>
    <div class="controls">
        {{ form.c_site }} 
        <span class="help-inline">
        {% if form.c_site.errors %}
            {% for error in form.c_site.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
</div>

<div class="control-group{% if form.c_city_select.errors %} error{% endif%}">
    <label class="control-label" for="{{ form.c_city_select.auto_id }}">{{ form.c_city_select.label }}</label>
    <div class="controls">
        <input type="text" name="{{ form.c_city_select.html_name }}" id="{{ form.c_city_select.auto_id }}" value="{{init_city_name}}" required="required" data-provide="typeahead" class="typeahead input-xlarge" autocomplete="off">
        {% if form.c_city_select.errors %}
        <span class="help-inline">
            {% for error in form.c_city_select.errors %}
            {{ error }}
            {% endfor %}
        </span>
        {% endif %}
        <input type="hidden" name="{{ form.c_city.html_name }}" id="{{ form.c_city.auto_id }}" value="{{ init_city_id }}">
    </div>
    {% if example_citys|length > 0 %}
    <div class="controls" id="c_your_citys">Например:
        {% for key, value in example_citys.items %}{% spaceless %}
            <a href="#" id="example_city_{{ key }}" data-long="{{ value.1 }}">{{ value.0 }}</a>{% if not forloop.last %},&nbsp;{% endif %}
        {% endspaceless %}{% endfor %}
    </div> 
    {% endif %}
</div>

<div class="control-group{% if form.c_comment.errors %} error{% endif%}">
    <label class="control-label" for="{{ form.c_comment.auto_id }}">{{ form.c_comment.label }}</label>
    <div class="controls">
        {{ form.c_comment }} 
        <span class="help-inline">
        {% if form.c_comment.errors %}
            {% for error in form.c_comment.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
</div>



</div>

</form>
{% endspaceless %}

<script>
$(document).ready(function(){
    $('#id_city_select').typeahead({
        source: function(query, process){
            objects = [];
            map = {};
            $.get("{% url get_citys %}", {query: query}, function(data){
                jdata = data;
            });
            $.each(jdata, function(i, object) {
                map[object.nname] = object;
                objects.push(object.nname);
            });       
            process(objects);     
        },
        updater: function(item) {
            $('#id_city').val(map[item].id);
            return item;
        }        
    });

    $('#id_c_city_select').typeahead({
        source: function(query, process){
            objects = [];
            map = {};
            $.get("{% url get_citys %}", {query: query}, function(data){
                jdata = data;
            });
            $.each(jdata, function(i, object) {
                map[object.nname] = object;
                objects.push(object.nname);
            });       
            process(objects);     
        },
        updater: function(item) {
            $('#id_c_city').val(map[item].id);
            return item;
        }        
    });

    $('div#your_citys a').click(function(e) {
        citya = $(this);
        citylongname = citya.attr('data-long');
        cityid = citya.attr('id').split('_')[2];

        $('#id_city').val(cityid);
        $('#id_city_select').val(citylongname);
        e.preventDefault();
    });

    $('div#c_your_citys a').click(function(e) {
        citya = $(this);
        citylongname = citya.attr('data-long');
        cityid = citya.attr('id').split('_')[2];

        $('#id_c_city').val(cityid);
        $('#id_c_city_select').val(citylongname);
        e.preventDefault();
    });


});
</script>
{% endblock %}
