{% extends "base.html" %}
{% load humanize %}
{% load my_tags %}

{% block content %}
<div class="row-fluid">
    <div class="span4">
        <div class="side-info-block alert alert-info">
        Заказчик получит предложения исполнителей<br/>и выберет понравившиеся.<br/>Только после этого мы передадим<br/><strong>им, и только им</strong> <br/>контактные данные заказчика - <strong>электронные адрес и телефон.</strong>
        <br/><br/>

        <span class="label label-success">Зеленым</span> отмечены участники тендера, чьи компании прошли модерацию.<br/><br/>
        <span class="label label-warning">Бежевым</span> отмечены участники тендера, чьи компании <strong>пока не прошли</strong> модерацию.<br/>
        </div>
    </div>
    <div class="span8">    
        <div>
            <h4>Заказ #{{ tender.id }}</h4>

            <div>
                {% if tender.user.my_profile.company.id %}
                <strong>Заказ от компании {{tender.user.my_profile.company.c_title}}</strong>
                {% endif %}
            </div>
            
            <div class="clearfix">
                <p class="pull-left">
                    <span class="label {% spaceless %}
                    {% if tender.duration == '3' %}
                    label-warning
                    {% endif %}
                    {% if tender.duration == '15' %}
                    label-info
                    {% endif %}
                    {% endspaceless %}">
                        {{ tender.get_duration_display }}
                    </span>
                </p>

                <p class="pull-right">{{ tender.datetime_add|date:"H:i" }}  {{ tender.datetime_add|naturalday }}</p>

            </div>                

        </div>        
        <p>{{ tender.comment|linebreaks }}</p>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <hr/>
        <div class="row-fluid">
            <div class="span4">
                <h4>Участники тендера</h4>
            </div>
            <div class="span8">

                {% if request.user.id == tender.user.id and not tender.datetime_finish %}
                <p class="text-right">
                    <a href="#" class="btn btn-success" id="send_contacts" type="button" data-tender="{{ tender.id }}">Отправить контакты выбранным исполнителям</a>
                    <a href="#" class="btn btn-danger" id="stop_tender" type="button" data-tender="{{ tender.id }}">Закрыть заказ</a>
                </p>
                {% endif %}

                {% if tender.datetime_finish %}
                <p class="text-right">
                    <strong>
                        Тендер завершен {{tender.datetime_finish|date:"H:i"}}
                    </strong>
                </p>
                {% endif %}
            </div>
        </div>
        {% if tender.tender_party|length > 0 %}
            {% if request.user.id != tender.user.id and tender.closed != True %}
                <ul class="nav nav-pills">
                {% for party in tender.tender_party %}
                    <li><a href="{% url show_company party.user.my_profile.company.id %}">{{ party.user.my_profile.company.c_title }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Выбор</th>                    
                        <th>Компания</th>
                        <th>Комментарий</th>
                        <th>Когда</th>
                    </tr>
                </thead>
                <tbody>
                {% for party in tender.tender_party %}
                    <tr{% if not party.user.my_profile.company.c_moderated %} class="warning"{% else %} class="success"{% endif%}>
                        <td class="span2">
                            <p class="text-center">
                        {% if party.send|length > 0 %}
                            {% if not party.send.0.datetime_add|is_today %}
                                <input class="input company-select" type="checkbox" name="company-select" value="{{ party.id }}">
                                <br/>
                            {% endif %}
                                <small>{{party.send.0.datetime_add|date:"SHORT_DATETIME_FORMAT"}}</small>
                        {% else %}
                                <input class="input company-select" type="checkbox" name="company-select" value="{{ party.id }}">
                        {% endif %}                            
                            </p>
                        </td>
                        <td class="span3">
                            <strong>{{ party.user.first_name }}</strong><br/>
                            <a href="{% url show_company party.user.my_profile.company.id %}">{{ party.user.my_profile.company.c_title }}</a>
                        </td>
                        <td>{{ party.comment }}</td>
                        <td class="span3">{{ party.datetime_add|date:"H:i" }}  {{ party.datetime_add|naturalday }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        {% else %}
            <strong>Пока никто не участвует в тендере :(</strong>
        {% endif %}

    {% if you_company_in_party == 'yes' and tender.tender_party|length > 0 %}
        {% for party in tender.tender_party %}
            {% if party.user.my_profile.company.id == request.user.my_profile.company.id %}
            <div class="alert alert-success">
                <div class="clearfix">
                    <p class="pull-left">
                        <strong><a href="{% url userena_profile_detail request.user.username %}">{{ party.user.first_name }}</a></strong> - 
                        <a href="{% url show_company party.user.my_profile.company.id %}">{{ party.user.my_profile.company.c_title }}</a>
                    </p>
                    <p class="pull-right">
                        {{ party.datetime_add|date:"H:i" }}  {{ party.datetime_add|naturalday }}
                    </p>
                </div>
                {{ party.comment }}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if request.user.my_profile.company.id and request.user.my_profile.role == 'zavod' and you_company_in_party != 'yes' and not tender.datetime_finish %}
        <div>
            <form action="" method="post">
            <legend>Участвовать в тендере</legend>
            {% csrf_token %}
            {% for field in tender_party_form%}
                <div>
                    <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                    {{field}}
                </div>
            {% endfor %}
            <div><button type="submit" class="btn btn-primary"><i class="icon-thumbs-up icon-white"></i> Участвуем</button></div>
            </form>
        </div>
    {% endif %}
    </div>
</div>


<!--
<div class="modal hide fade" tabindex="-1" role="dialog" id="send_contacts-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Отправить</h3>
  </div>
  <div class="modal-body">
    <form id="send_contacts-form">
    </form>    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    <button class="btn btn-primary" id="send_contacts-form-submit">Отправить</button>
  </div>
</div>
-->

<script>
function check_inputs(){
    var flag_to_send = false;
    $("input.company-select").each(function(){
        if ($(this).is(':checked')) {
            flag_to_send = true;
        }
    });
    if (flag_to_send == true){
        $("#send_contacts").removeClass("disabled");
    } 
    else {
        $("#send_contacts").addClass("disabled");
    }    
}

$(document).ready(function(){
    check_inputs();

    $("input.company-select").each(function(){
        if ($(this).is(':checked')) {
            flag_to_send = true;
        }
    });

    $("input.company-select").on("change", function(e){
        check_inputs();
        e.preventDefault();
    });

    $("#stop_tender").click(function(e){
        if (confirm("Точно?")) {
            $.post("{% url stop_tender %}", 
                {
                    tender_id: $('#stop_tender').attr('data-tender'),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                function(data){
                    if (data.success == 1){
                        $('#stop_tender').addClass("disabled");
                    }
                }
            );
        }
        e.preventDefault();
    });

    $("#send_contacts").click(function(e){
        but = $(this)
        but.addClass('disabled');

        var arr = $.map($('input.company-select:checked'), function(e,i) {
            return +e.value;
        });

        $.post("{% url send_contacts %}", 
            {
                tender_id: $('#send_contacts').attr('data-tender'),
                companys: arr,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            function(data){
                but.removeClass('disabled');

                if (data.success == 1){
                    if (data.sending != '') {
                        for (var i in data.sending) {
                            var selector = "input.company-select[value=" + i + "]";
                            $(selector).parent().html("<small>"+data.sending[i]+"</small>");
                        }
                    }
                    console.log(data);
                }
            }
        );
        e.preventDefault();        
    });
});
</script>

{% endblock %}