{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load my_tags %}
{% load url from future %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
  <ul class="nav nav-pills">
    <li><a href="{% url 'userena_profile_detail' user.username %}"><span>{% trans 'View profile' %}</span></a></li>
    <li><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit profile" %}</a></li>
    <li><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
    <li><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></li>
            {% if user.my_profile.master %}
            <li class="active">
              <a href="{% url 'edit_company' user.my_profile.company.id %}">Страница фирмы</a>
            </li>
            {% endif %}
  </ul>
<div id="center-reg-div">  
<form action="" method="post" id="edit-reg-form" class="row-fluid form-horizontal" enctype="multipart/form-data">
    <legend>Редактировать компанию</legend>
    {% csrf_token %}
<div class="span4">
    <h3>{{company.c_title}}</h3>
    <dl class="dl-horizontal">
        <dt>Город</dt>
        <dd>{{company.c_city.name}}</dd>
    {% if adv|length > 0 %}
      <dt>Банер</dt>
      <dd><a href="http://{{company.c_site}}"><img width="150" src="{{ MEDIA_URL }}{{ adv.image }}" alt="{{company.c_title}}"></a></dd>
    {% endif %}
    </dl>
    <div id="map" style="width: 270px; height: 400px;"></div>
</div>
<div class="span7">
{% for field in form %}
    <div class="control-group{% if field.errors %} error{% endif%}">
        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        <div class="controls">
            {{ field }} 
            <span class="help-inline">
            {% if field.errors %}
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            {% endif %}
            </span>
        </div>
    </div>
{% endfor %}
{% for field in advform %}
    <div class="control-group{% if field.errors %} error{% endif%}">
        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        <div class="controls">
            {{ field }} 
            <span class="help-inline">
            {% if field.errors %}
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            {% endif %}
            </span>
        </div>
    </div>
{% endfor %}
    <div class="controls">
        <button type="submit" class="btn btn-primary"><i class="icon-thumbs-up icon-white"></i> Сохранить</button>
    </div>
</div>    
</form>
</div>

<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU"
            type="text/javascript"></script>

<script type="text/javascript">
// Как только будет загружен API и готов DOM, выполняем инициализацию
ymaps.ready(init);

function init () {
    var myMap = new ymaps.Map("map", {
            center: {% spaceless %}
              {% if company.c_geo %}
                [{{company.c_geo}}]
              {% else %}
                {% if company.c_city %}
                  [{{company.c_city.longitude|replace_comma}}, {{company.c_city.latitude|replace_comma}}]
                {% else %}
                  [55.76, 37.64]
                {% endif %}
              {% endif %}
            {% endspaceless %},
            zoom: 15
        });

        myMap.controls
        // Кнопка изменения масштаба
        .add('zoomControl')
        // Список типов карты
        .add('typeSelector')
        // Кнопка изменения масштаба - компактный вариант
        // Расположим её справа
        // .add('smallZoomControl', { right: 5, top: 75 })
        // Стандартный набор кнопок
        .add('mapTools');

    // Добавляем метки на карту
    {% spaceless %}      
    {% if company.c_geo %}
      myPlacemark = new ymaps.Placemark([{{company.c_geo}}],{hintContent: 'Перетащите'},{draggable: true});
    {% else %}
      {% if company.c_city %}
        myPlacemark = new ymaps.Placemark([{{company.c_city.longitude|replace_comma}}, {{company.c_city.latitude|replace_comma}}],{hintContent: 'Перетащите'},{draggable: true});
      {% endif %}
    {% endif %}
    {% endspaceless %}

    myPlacemark.events.add('dragend', function (e) {
        $("#id_c_geo").val(myPlacemark.geometry.getCoordinates());
    });    
    myMap.geoObjects.add(myPlacemark);
}
</script>


{% endblock %}