{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div id="center-reg-div">    
<form action="" method="post" id="feedback-form">
    <legend>Сообщение</legend>
{% if success == 'thanks' %}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Спасибо!</strong> Мы всё прочитаем и ответим вам!
</div>
{% endif %}

{% csrf_token %}
{% spaceless %}

{{ form.errors }}

{% for field in form %}
<label for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }} 
    <span class="help-inline">
    {% if field.errors %}
        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    {% endif %}
    </span>
{% endfor %}
    <div>
    <button type="submit" class="btn btn-primary"><i class="icon-thumbs-up icon-white"></i> Послать</button>
    <p class="pull-right">Или просто <a href="mailto:tender@tenderokon.ru"><i class="icon-envelope"></i>напишите на почту</a></div></p>
</form>
</div>
{% endspaceless %}

{% endblock %}
