{% extends "base.html" %}
{% load humanize %}
{% load my_tags %}

{% block content %}
<h3>Разместить новый тендер</h3>
<div class="row-fluid">
    <div class="span8">
        <form action="" method="post" class="form-horizontal" id="new-tender-form">
        {% csrf_token %}
        {% spaceless %}
        {{ form.non_field_errors }}

<!--         <div class="control-group">
            <div class="controls">
                <div class="btn-group" data-toggle="buttons-radio" id="activity-btn-group">
                  <button class="btn activity-btn" data-activity="polygraphy">Полиграфия</button>
                  <button class="btn activity-btn active btn-success" data-activity="plastic">Пластик</button>
                </div> &nbsp;<i class="icon-question-sign" data-toggle="tooltip" data-placement="right" title="Выберите направление деятельности."></i>
            </div>
        </div>
 -->
        <div class="control-group{% if tender_form.name.errors %} error{% endif%}">
            <label class="control-label" for="{{ tender_form.name.auto_id }}">{{ tender_form.name.label }}</label>
            <div class="controls">
                {{ tender_form.name }} &nbsp;<i class="icon-question-sign" data-toggle="tooltip" data-placement="right" title="Как к вам обращаться?"></i>
                <span class="help-inline">
                {% if tender_form.name.errors %}
                    {% for error in tender_form.name.errors %}
                    {{ error }}
                    {% endfor %}
                {% endif %}
                </span>
            </div>
        </div>
        <div class="control-group{% if tender_form.email.errors %} error{% endif%}">
            <label class="control-label" for="{{ tender_form.email.auto_id }}">{{ tender_form.email.label }}</label>
            <div class="controls">
                {{ tender_form.email }} &nbsp;<i class="icon-question-sign" data-toggle="tooltip" data-placement="right" title="Вашу контакты получат только те, кому вы их вышлете!"></i>
                <span class="help-inline">
                {% if tender_form.email.errors %}
                    {% for error in tender_form.email.errors %}
                    {{ error }}
                    {% endfor %}
                {% endif %}
                </span>
            </div>
        </div>
        <div class="control-group{% if tender_form.phone.errors %} error{% endif%}">
            <label class="control-label" for="{{ tender_form.phone.auto_id }}">{{ tender_form.phone.label }}</label>
            <div class="controls">
                {{ tender_form.phone }} &nbsp;<i class="icon-question-sign" data-toggle="tooltip" data-placement="right" title="Вашу контакты получат только те, кому вы их вышлете!"></i>
                <span class="help-inline">
                {% if tender_form.phone.errors %}
                    {% for error in tender_form.phone.errors %}
                    {{ error }}
                    {% endfor %}
                {% endif %}
                </span>
            </div>
        </div>

        <div class="control-group{% if tender_form.duration.errors %} error{% endif%}">
            <label class="control-label" for="{{ tender_form.duration.auto_id }}">{{ tender_form.duration.label }}</label>
            <div class="controls">
                {{ tender_form.duration }} &nbsp;<i class="icon-question-sign" data-toggle="tooltip" data-placement="right" title="Как срочно вам требуются услуги?"></i>
                <input type="hidden" name="{{ tender_form.activity.html_name }}" id="{{ tender_form.activity.auto_id }}" value="plastic">
                
                <span class="help-inline">
                {% if tender_form.duration.errors %}
                    {% for error in tender_form.duration.errors %}
                    {{ error }}
                    {% endfor %}
                {% endif %}
                </span>
            </div>
        </div>

        <div class="control-group{% if tender_form.city_select.errors %} error{% endif%}">
            <label class="control-label" for="{{ tender_form.city_select.auto_id }}">{{ tender_form.city_select.label }}</label>
            <div class="controls">
                {{ tender_form.city_select }} &nbsp;<i class="icon-question-sign" data-toggle="tooltip" data-placement="right" title="Укажите город, в котором вам требуются услуги"></i>
                {% if tender_form.city_select.errors %}
                <span class="help-inline">
                    {% for error in tender_form.city_select.errors %}
                    {{ error }}
                    {% endfor %}
                </span>
                {% endif %}
                {{ tender_form.city }}
            </div>
            {% if example_citys|length > 0 %}
            <div class="controls" id="your_citys">Например:
                {% for key, value in example_citys.items %}{% spaceless %}
                    <a href="#" id="example_city_{{ key }}" data-long="{{ value.1 }}">{{ value.0 }}</a>{% if not forloop.last %},&nbsp;{% endif %}
                {% endspaceless %}{% endfor %}
            </div> 
            {% endif %}
        </div>

        <div class="control-group{% if tender_form.comment.errors %} error{% endif%}">
            <label class="control-label" for="{{ tender_form.comment.auto_id }}">{{ tender_form.comment.label }}</label>
            <div class="controls">
                {{ tender_form.comment }} &nbsp;<i class="icon-question-sign" data-toggle="tooltip" data-placement="right" title="Как можно более подробно опишите требования. Чем подробнее вы опишите - тем более точные цены вам предложат!"></i>
                <span class="help-inline">
                {% if tender_form.comment.errors %}
                    {% for error in tender_form.comment.errors %}
                    {{ error }}
                    {% endfor %}
                {% endif %}
                </span>
            </div>
        </div>
        {% endspaceless %}
                <div class="controls">
                <button type="submit" class="btn btn-primary full-width"><i class="icon-thumbs-up icon-white"></i> Добавить</button>
                </div>
        </form>
    </div>
    <div class="span4 side-info-block alert alert-info">
        Размещение тендера <strong>полностью бесплатное!</strong>
        <br/><br/>
        <strong>Только автор тендера</strong> решает кому из участников тендера показать свои контактные данные - <strong>электронные адрес и телефон.</strong>
        <br/><br/>
        <strong>Город тендера</strong> нужно указывать для того, чтобы привлечь к участию исполнителей именно <strong>вашего региона</strong>. Зачастую это быстрее, удобнее и, главное, <strong>дешевле!</strong>
    </div>
</div>

<hr class="hr-divider" />

{% if last_10_tenders|length > 0 %}
<h3>Крайние 10 тендеров</h3>
<div class="row-fluid">
    <div class="span8">
        <table class="table table-hover" id="tenders-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Описание</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
        {% for tender in last_10_tenders %}
            <tr data-tender-id="{{ tender.id }}" 
            {% if tender.state.0.state and tender.state.0.state != 'new' and tender.state.0.state != 'work' and tender.state.0.state != 'open' %}
                class="error"
            {% else %}
                {% if tender.user.my_profile.company.id %}
                    class="info"
                {% endif %}
            {% endif %}
            >
                <td class="span1"><a href="{% url show_tender tender.id %}" class="a_decorated">{{ tender.id }}</a></td>
                
                <td>

                <div class="clearfix">
                    <p class="pull-left">
                        <span class="label {% spaceless %}
                        {% if tender.duration == '3' %}
                        label-warning
                        {% endif %}
                        {% if tender.duration == '15' %}
                        label-info
                        {% endif %}
                        {% endspaceless %}">
                            {{ tender.get_duration_display }}
                        </span>
                    </p>

                    <p class="pull-right">
                        <small>{{ tender.time_to_finish|min_to_time }}</small>
                    </p>
                </div>
                
                <div>
                <a href="{% url show_tender tender.id %}" class="a_decorated">
                    <strong>{{ tender.city.name }}</strong>
                    <small>{{ tender.city.region.name }}, {{ tender.city.region.country.name }}</small>
                    </a>
                    {% if tender.user.my_profile.company.id %}
                        <br/><small>Компания {{ tender.user.my_profile.company.c_title }}</small>
                    {% endif %}
                </div>
                    <p>{% spaceless %}{% if tender.comment|length > 250 %}
                        {{ tender.comment|slice:"200"|linebreaks }} >>
                        {% endif %}
                        {% if tender.comment|length < 250 %}
                        {{ tender.comment|linebreaks }}
                        {% endif %}
                    {% endspaceless %}</p>
                </td>
                <td class="span2">{% spaceless %}
                    <p class="text-center">
                    <small>{{ tender.datetime_add|date:"H:i" }}  {{ tender.datetime_add|naturalday }}</small><br/>
                    {% if tender.you_company_in_party == 'yes' %}
                    <span class="badge badge-important" rel="tooltip" title="Ваша компания участвует!" data-placement="left"><i class="icon-exclamation-sign icon-white"></i></span>
                    {% endif %}
                    {% if tender.party_count > 0 %}
                    <br/>
                    <span class="badge badge-success" rel="tooltip" title="Количество участников" data-placement="left">{{tender.party_count}}</span>
                    {% endif %}
                    </p>
                {% endspaceless %}
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="span4 side-info-block alert alert-info">
        В списке тендеров указаны:<br/><strong>район проведения, <br/>название, <br/>описание <br/>и дата размещения.</strong><br/><br/>
        В списке слева можно увидеть <br/><strong>последние 10</strong> размещенных тендеров.<br/><br/>
        <span class="label label-info">Лавандовым</span> отмечены тендеры, размещенные другими исполнителями.<br/><br/>
        <span class="label label-success">Зеленым</span> отмечено количество участников тендера.<br/><br/>
        <a href="{% url all_tenders %}">Все тенедеры можно посмотреть тут</a>
    </div>
</div>
{% endif %}

<div class="modal hide fade" tabindex="-1" role="dialog" id="pass-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Войти</h3>
  </div>
  <div class="modal-body">
    <form id="modal-login-form">
        <label class="control-label" for="{{ sign_in_form.identification.auto_id }}">{{ sign_in_form.identification.label }}</label>
          {{ sign_in_form.identification }}
        <label class="control-label" for="{{ sign_in_form.password.auto_id }}">{{ sign_in_form.password.label }}</label>
        {{ sign_in_form.password }}
        <a href="{% url userena_password_reset %}" target="blank">Забыл пароль :(</a>
    </form>    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    <button class="btn btn-primary" id="modal-login-form-submit">Войти</button>
  </div>
</div>

<script>
$(document).ready(function(){
    $('#id_city_select').typeahead({
        source: function(query, process){
            objects = [];
            map = {};
            $.get("{% url get_citys %}", {query: query}, function(data){
                jdata = data;
            });
            $.each(jdata, function(i, object) {
                map[object.nname] = object;
                objects.push(object.nname);
            });       
            process(objects);     
        },
        updater: function(item) {
            $('#id_city').val(map[item].id);
            return item;
        }        
    });

    $(document).on('blur', '#id_email:not(.uneditable-input)', function(){
        $.post("{% url check_mail %}", 
            {
                email: $('#id_email').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            function(data){
                if (data.success == 3){
                    if ($('div#pass-quest').length<=0){
                        $('#id_email').parent().parent().after('<div class="control-group" id="pass-quest"><div class="controls">Такая почта уже есть. Это вы?<button href="{% url userena_signin %}" id="pass-quest-yes" data-target="pass-modal" class="btn btn-mini btn-success"><i class="icon-user icon-white"></i> Да! Введу пароль</button>  <button id="pass-quest-no" class="btn btn-mini btn-warning"><i class="icon-repeat icon-white"></i> Неа :( Введу другую почту</button></div></div>');                
                    }
                } else if (data.success == 2 && $('div#pass-quest').length>0) {
                    $('#pass-quest').hide('fast', function() { 
                        $(this).remove(); 
                    });                    
                }
            }
        );
    });

    $(document).on('click', '#pass-quest-yes', function(e){
        $('#id_identification').val($('#id_email').val());
        $('#pass-modal').modal('show');
        $('#pass-quest').hide('slow', function() { 
            $(this).remove(); 
        });
        e.preventDefault();                
    });
    
    $(document).on('click', '#pass-quest-no', function(e){
        $('#id_email').val('');
        $('#pass-quest').hide('slow', function() { 
            $(this).remove(); 
        });
        $('#id_email').focus();
        e.preventDefault();                
    });

    $('#modal-login-form-submit').on('click', function(e){
        $('#modal-login-form').submit();
        e.preventDefault();                
    });

    $('#modal-login-form').on('submit', function(e){
        $.ajax({
            url: '{% url ajax_login %}',
            type: 'POST',
            data: {
                csrfmiddlewaretoken: '{{csrf_token}}',
                identification: $('#id_identification').val(),
                password: $('#id_password').val()
            },
        }).done(function(data){
            if(data.success == 1) {
                // console.log(data);
                if(data.user.name != null && data.user.name != 'undefined'){
                    $('#id_name').val(data.user.name);
                    $('#id_name').addClass('uneditable-input').attr('readonly', 'readonly');
                }
                if(data.user.email != null){
                    $('#id_email').val(data.user.email);
                    $('#id_email').addClass('uneditable-input').attr('readonly', 'readonly');
                }
                if(data.user.phone != null && data.user.phone != 'undefined'){
                    $('#id_phone').val(data.user.phone);
                    $('#id_phone').addClass('uneditable-input').attr('readonly', 'readonly');
                }
                if(data.user.city_select != null){
                    $('#id_city_select').val(data.user.city_select);
                }
                if(data.user.city != null){
                    $('#id_city').val(data.user.city);
                }
                $('#pass-modal').modal('hide');   
            }
        });
        e.preventDefault();
    });

    $('div#your_citys a').click(function(e) {
        citya = $(this);
        citylongname = citya.attr('data-long');
        cityid = citya.attr('id').split('_')[2];

        $('#id_city').val(cityid);
        $('#id_city_select').val(citylongname);
        e.preventDefault();
    });

    $("#tenders-table a.a_decorated").removeClass('a_decorated').addClass('nodecorate');
    $("#tenders-table td").click(function(e){
        tender_id = $(this).parent().attr('data-tender-id');
        window.location = "{% url show_tender 999 %}".replace(999, tender_id);
        e.preventDefault();
    });

    $('#new-tender-form').tooltip({
        selector: "i[data-toggle=tooltip]"
    });   

    // $("#activity-btn-group").find(".activity-btn").each(function(){
    //     $(this).bind('click', function(e){
    //         $('#id_activity').val($(this).attr('data-activity'));
    //         $(".activity-btn").removeClass("btn-success");
    //         $(this).addClass("btn-success");
    //         e.preventDefault();
    //     });
    // });

    $('#tenders-table').tooltip({
        selector: "span[rel=tooltip]"
    });   

});
</script>
{% endblock %}