{% extends "base.html" %}

{% block content %}

<style>
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .span4 {
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 60px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {
  .featurette {
    height: auto;
    padding: 0;
  }
  .featurette-image.pull-left,
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}

@media (max-width: 767px) {
  .marketing .span4 + .span4 {
    margin-top: 40px;
  }

  .featurette-heading {
    font-size: 30px;
  }
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }

}
</style>

<div class="row-fluid">
    <div class="span12 text-center">
        <div class="btn-group" data-toggle="buttons-radio" id="btn-group">
          <button href="#zakaz" class="btn active btn-large btn-primary" data-activity="polygraphy">Для заказчиков</button>
          <button href="#worker" class="btn btn-large" data-activity="plastic">Для исполнителей</button>
        </div>
    </div>
</div>    

<div class="tab-content">

    <div class="container marketing tab-pane fade in active" id="zakaz">
        <hr class="featurette-divider">

        <div class="featurette">
            <img class="featurette-image pull-left" src="{{STATIC_URL}}img/zakaz_12.png">
            <h2 class="featurette-heading">Оформите свой заказ. <span class="muted">Это просто и быстро!</span></h2>
            <p class="lead">Как можно более подробно заполните все поля. Вашу электронную почту и телефон получат только те производители, которых вы выберите. Подробно опишите суть заказа - это позволит производителям предложить вам более точные цены.</p>
        </div>    

        <hr class="featurette-divider">

        <div class="featurette">
            <img class="featurette-image pull-right" src="{{STATIC_URL}}img/zakaz_2.png">
            <h2 class="featurette-heading">Изготовители скоро начнут присылать предложения. <span class="muted">Просто ждите писем.</span></h2>
            <p class="lead">Совсем скоро производители начнут оставлять предложения по вашему заказу. Вы будете получать уведомления об этом на почту. </p>
        </div>    

        <hr class="featurette-divider">

        <div class="featurette">
            <img class="featurette-image pull-left" src="{{STATIC_URL}}img/zakaz_3.png">
            <h2 class="featurette-heading">Выберите лучшее для вас. <span class="muted">По цене, отзывам или географии.</span></h2>
            <p class="lead">Достаточно выбрать понравившиеся предложения. Выбрать можно по приоритетным для вас критериям - по цене, отзывам о фирме, географии расположения изготовителя. Ну или наугад...</p>
        </div>    

        <hr class="featurette-divider">

        <div class="featurette">
            <img class="featurette-image pull-right" src="{{STATIC_URL}}img/zakaz_4.png">
            <h2 class="featurette-heading">Отправьте свои контактные данные. <span class="muted">Только выбранные получат возможность связаться с вами.</span></h2>
            <p class="lead">Выбирайте предложения и отправляйте свои контактные данные. Делать это можно не чаще одного раза в сутки для одной фирмы. Изготовитель получит ваши данные и подробное описание заказа.</p>
        </div>    

        <hr class="featurette-divider">

        <div class="featurette">
            <img class="featurette-image pull-left" src="{{STATIC_URL}}img/zakaz_5.png">
            <h2 class="featurette-heading">Работайте с лучшими. <span class="muted">Это просто и быстро!</span></h2>
            <p class="lead">С вами свяжутся менеджеры выбранных компаний, и вы сможете продолжить работу с ними, но уже вне нашего сайта. Выбирайте лучших и получайте лучшие услуги!</p>
        </div>    

        <hr class="featurette-divider">

        <div class="featurette">
            <img class="featurette-image pull-right" src="{{STATIC_URL}}img/zakaz_6.png">
            <h2 class="featurette-heading">Вернитесь и оцените работу. <span class="muted">Это очень поможет другим!</span></h2>
            <p class="lead">После завершения работ по заказу не забудьте вернуться на сайт и оценить работу. Ваш отзыв сразу же отразится в рейтинге компании, а это очень сильно поможет другим, при выборе данной компании для выполнения работ.</p>
        </div>    

    </div><!-- /.container -->

<!-- zakaz - worker -->

    <div class="container marketing fade in tab-pane" id="worker">
        <hr class="featurette-divider">

        <div class="featurette">
            <img class="featurette-image pull-left" src="{{STATIC_URL}}img/worker_1.png">
            <h2 class="featurette-heading">Регистрируйтесь. <span class="muted">Чем подробнее - тем лучше.</span></h2>
            <p class="lead">Укажите как можно более подробную информацию. Компания окажется в списке компаний, на карте, в рейтинге... Максимум информации о компании - максимум доверия к компании!</p>
        </div>    

        <hr class="featurette-divider">

        <div class="featurette">
            <img class="featurette-image pull-right" src="{{STATIC_URL}}img/worker_2.png">
            <h2 class="featurette-heading">Выбирайте заказы. <span class="muted">Удобно искать и фильтровать.</span></h2>
            <p class="lead">Размещенные заказы сразу оказываются в общем списке. Список легко фильтровать по типам и направлениям деятельности и по географии. Также можно сортировать список по времени и расстоянию. Всем заказы по вкусу!</p>
        </div>    

        <hr class="featurette-divider">

        <div class="featurette">
            <img class="featurette-image pull-left" src="{{STATIC_URL}}img/worker_3.png">
            <h2 class="featurette-heading">Учавствуйте в заказах. <span class="muted">Остальные участники не увидят ваши предложения.</span></h2>
            <p class="lead">Можно не беспокоиться и предлагать свои лучшие цены. Ваше предложение увидит только заказчик. Остальные участники не будут видеть вашего предложения!</p>
        </div>    

        <hr class="featurette-divider">

        <div class="featurette">
            <img class="featurette-image pull-right" src="{{STATIC_URL}}img/worker_4.png">
            <h2 class="featurette-heading">Получайте контакты закачика. <span class="muted">Далее работают ваши менеджеры.</span></h2>
            <p class="lead">Заказчик выберет самое подходящее для него предложение - по цене или по рейтингу компании, или ещё по каким-то параметрам. Мы вышлем вам контакты заказчика. Вот тут в дело вступают ваши менеджеры!</p>
        </div>    

        <hr class="featurette-divider">

        <div class="featurette">
            <img class="featurette-image pull-left" src="{{STATIC_URL}}img/worker_5.png">
            <h2 class="featurette-heading">Просите заказчика оценить работу. <span class="muted">Высокие рейтинги - выше шансы в будущем!</span></h2>
            <p class="lead">По итогам работ не забудьте напомнить заказчику оценить исполнение на сайте. Вы сможете сделать это «одной кнопкой» на сайте или же в непосредственной беседе вне сайта. Высокий рейтинг - залог успеха!</p>
        </div>    


    </div><!-- /.container -->

</div><!-- /.tab-content -->

<div id="push"></div>
</div>

<script>
$(document).ready(function(){
    $("#btn-group").find("button.btn").each(function(){
        $(this).bind('click', function(e){
            $("#btn-group button.btn").removeClass("btn-primary");
            $(this).addClass("btn-primary");
            $(this).tab('show');
            e.preventDefault();
        });
    });   
});
</script>

{% endblock %}