{% extends "base.html" %}

{% block content %}
<div class="row" style="position: relative;">
    <div style="
        z-index: 1001; 
        background-color: #DFF0D8; 
        position: absolute; 
        width: 100%;
        margin-left: 15px;
        -webkit-border-radius: 6px; 
        -moz-border-radius: 6px; 
        border-radius: 6px; 
        top: -10px;
        height: 325px;
        padding-top: 60px;
        opacity: 0.80; 
        filter: alpha(Opacity=80);
        font-size: 36px;" 
    class="text-center">
        <strong>
        На данный момент всё бесплатно!
        <br/>
        <br/>
        <br/>
        И да, цены уточним...
        </strong>
    </div>
    <div class="span3 price-block">
        <h3 class="text-center">
            Индивидуальный
        </h3>
        <div class="main text-center">
            <p>1 мастер аккаунт</p>
        </div>
        <div class="price">
            &nbsp;&nbsp;&nbsp;900 рублей/месяц<br/>
            2 430 рублей/3 месяца (-10%)<br/>            
            4 320 рублей/полгода (-20%)<br/>
            6 480 рублей/год (-40%)
        </div>
    </div>
    <div class="span3 price-block">
        <h3 class="text-center">
            Малый
        </h3>  
        <div class="main text-center">
            <p>1 мастер аккаунт</p>
            <p><strong>+4 дополнительных<br/>аккаунта</strong></p>
        </div>  
        <div class="price">
            &nbsp;&nbsp;4 050 рублей/месяц<br/>
            10 935 рублей/3 месяца (-10%)<br/>
            19 440 рублей/полгода (-20%)<br/>
            29 160 рублей/год (-40%)
        </div>
    </div>
    <div class="span3 price-block disabled">
        <h3 class="text-center">
            Средний
        </h3>    
        <div class="main text-center">
            <p>1 мастер аккаунт</p>
            <p><strong>+9 дополнительных<br/>аккаунта</strong></p>
        </div>
        <div class="price">
             &nbsp;&nbsp;7 200 рублей/месяц<br/>
            19 440 рублей/3 месяца (-10%)<br/>
            34 560 рублей/полгода (-20%)<br/>
            51 840 рублей/год (-40%)

        </div>
    </div>
    <div class="span3 price-block disabled">
        <h3 class="text-center">
            Крупный
        </h3>    
        <div class="main text-center">
            <p>1 мастер аккаунт</p>
            <p><strong>+19 дополнительных<br/>аккаунта</strong></p>
        </div>
        <div class="price">
             10 800 рублей/месяц<br/>
            29 160 рублей/3 месяца (-10%)<br/>
            51 840 рублей/полгода (-20%)<br/>
            77 760 рублей/год (-40%)

        </div>
    </div>
</div>

{% endblock %}