{% extends "base.html" %}
{% load humanize %}
{% load my_tags %}

{% block content %}
{% spaceless %}
<div class="row">
    <div class="span4">
      <div class="affix">
        <h2>{{company.c_title}}</h2>
        <ul class="unstyled">
            <li>
                <div class="clearfix" rel="tooltip" data-placement="right" title="Средний рейтинг компании по итогам выполнения заказов">
                    <div class="stars">
                    <div class="rating" style="width: {{company.rating_p|floatformat:'0'}}%;"></div>
                    <div class="star"><div class="star"><div class="star"><div class="star"><div class="star"></div></div></div></div></div></div>
                    <strong style="line-height: 32px; font-size: 32px;">&nbsp;&nbsp;{{company.rating}}</strong>
                </div>
            </li>
            <li>
                участвовали <strong>{{company_tenders.count}}</strong> / <strong>{{company_ratings.count}}</strong> выиграли &nbsp;<i class="icon-question-sign" rel="tooltip" data-placement="right" title="В скольких заказах участвовали и сколько из них выиграли"></i>
            </li>
        </ul>

        <ul class="unstyled">
            <li>
                Зарегестрирована: {{ company.datetime_add|naturalday }}  {{ company.datetime_add|date:"H:i" }}
            </li>
            <li>{% if company.c_moderated %}
                <span class="label label-success"><i class="icon-thumbs-up icon-white"></i> Модерацию прошли</span>
                {% else %}
                <span class="label label-warning"><i class="icon-hand-right icon-white"></i> Модерацию пока не прошли</span>
                {% endif %}
            </li>
        </ul>

        <ul class="unstyled">
            <li><strong><i class="icon-hand-right"></i> {{company.c_phone}}</strong></li>
            <li><strong><i class="icon-home"></i> {{company.c_site}}</strong></li>
            <li><strong><i class="icon-envelope"></i> {{company.c_email}}</strong></li>
        </ul>
      </div>
    </div>

    <div class="span8">
      <div class="row-fluid">
        <div class="span6">
          <p class="lead">{{ company.c_comment }}</p>
        </div>
        <div class="span6" id="map" style="height: 300px;"></div>
      </div>
        
        {% if company_ratings|length > 0 %}
        <hr/>
        <h3 rel="tooltip" data-placement="left" title="Отзывы по итогам заказов">Отзывы по заказам</h3>
          {% for cr in company_ratings %}
            <div style="margin-bottom: 15px;" class="alert alert-info">
              <div class="clearfix">
                  <div class="stars" style="background-size: 16px 16px; width: 80px; height: 16px;" rel="tooltip" data-placement="top" title="Оценка конкретного заказа - {{cr.rating}} балла">
                  <div class="rating" style="background-size: 16px 16px; height: 16px; width: {{cr.rating_p|floatformat:'0'}}%;"></div>
                  <div class="star h16"><div class="star h16"><div class="star h16"><div class="star h16"><div class="star h16"></div></div></div></div></div></div>
                &nbsp;&nbsp;&nbsp;&nbsp;{{ cr.user.first_name }}
                {% if cr.user.my_profile.company.id %} 
                  <small> - {{cr.user.my_profile.company.c_title}}</small>
                {% endif %}

                <p class="pull-right">
                  <strong>
                    <a href="{% url show_tender cr.tender.id %}">заказ #{{cr.tender.id}}</a> &nbsp;&nbsp;&nbsp;&nbsp; {{ cr.datetime_add|naturalday }}  {{ cr.datetime_add|date:"H:i" }}
                  </strong>                  
                </p>
              </div>
              <div>
                {{cr.comment|linebreaks}}
              </div>

              {% if cr.child|length > 0 %}
                {% for child in cr.child %}

                  <div class='alert child-comment
                  {% if child.taken %}
                  alert-success
                  {% else %}
                  alert-error
                  {% endif %}
                  '>
                    <div class="clearfix">
                      <p class="pull-left">
                        <strong>{{child.user.first_name}}</strong>
                        {% if child.user.my_profile.company.id %} 
                        <small> - {{child.user.my_profile.company.c_title}}</small>
                        {% endif %}
                      </p>
                      <p class="pull-right">
                        <strong>
                          {{ child.datetime_add|naturalday }}  {{ child.datetime_add|date:"H:i" }}
                        </strong>
                      </p>
                    </div>
                    <div>
                      {{ child.comment|linebreaks }}
                    </div>
                  </div>

                {% endfor %}
              {% endif %}

              {% if request.user.my_profile.company.id == company.id and cr.child|length == 0 %}
              <div class="clearfix c_r_div" data-comment="{{ cr.id }}">
                <p class="pull-right">
                  <button class="btn btn-link">Ответить на комментарий</button>
                </p>  
              </div>
              {% endif %}

            </div>
          {% endfor %}
        {% endif %}
        
        <hr/>
        {% if company_comments|length > 0 %}
        <h3 rel="tooltip" data-placement="left" title="Свободные отзывы о компании">Просто отзывы</h3>
          <form action="" method="POST">
            <div style="display:none;">
              <input type="hidden" name="csrfmiddlewaretoken" id="id_csrfmiddlewaretoken" value="{{ csrf_token }}">
            </div>
            <label for="id_comment">Оставить отзыв:</label>
            <textarea name="comment" id="id_comment" rows="2" class="full-width"></textarea>
            <button class="btn btn-primary full-width"><i class="icon-white icon-thumbs-up"></i> Отправить</button>
          </form>

          {% for comment in company_comments %}
          {% if not comment.parent %}
          <div class="well {% if comment.user.my_profile.company.id %} alert alert-info{% endif %}" style="margin-bottom: 15px;">
            <div class="clearfix">
              <p class="pull-left">
                {% if comment.user.id == -1 %}
                  <span class="badge badge-warning">Аноним</span>
                {% else %}
                  <strong>
                    <a href="{% url userena_profile_detail comment.user.username %}">
                    {% if comment.user.first_name %}
                      {{comment.user.first_name}}
                    {% else %}
                      {{comment.user.username}}
                    {% endif %}
                    </a>
                  </strong>
                {% endif %}

                {% if comment.user.my_profile.company.id %} 
                <small> - <a href="{% url show_company comment.user.my_profile.company.id %}">{{comment.user.my_profile.company.c_title}}</a></small>
                {% endif %}
              </p>
              <p class="pull-right">
                <strong>
                  {{ comment.datetime_add|naturalday }}  {{ comment.datetime_add|date:"H:i" }}
                </strong>
              </p>
            </div>
            <div>
              {{ comment.comment|linebreaks }}
            </div>

            {% if comment.child|length > 0 %}
              {% for child in comment.child %}
                <div class='alert alert-success child-comment'>
                  <div class="clearfix">
                    <p class="pull-left">
                      <strong><a href="{% url userena_profile_detail child.user.username %}">{{child.user.first_name}}</a></strong>
                      {% if child.user.my_profile.company.id %} 
                      <small> - <a href="{% url show_company child.user.my_profile.company.id %}">{{child.user.my_profile.company.c_title}}</a></small>
                      {% endif %}
                    </p>
                    <p class="pull-right">
                      <strong>
                        {{ child.datetime_add|naturalday }}  {{ child.datetime_add|date:"H:i" }}
                      </strong>
                    </p>
                  </div>
                  <div>
                    {{ child.comment|linebreaks }}
                  </div>
                </div>
              {% endfor %}
            {% endif %}

            {% if request.user.my_profile.company.id == company.id and comment.child|length == 0 %}
            <div class="clearfix comment_div" data-comment="{{ comment.id }}">
              <p class="pull-right">
                <button class="btn btn-link">Ответить на комментарий</button>
              </p>  
            </div>
            {% endif %}
          </div>

          {% endif %}
          {% endfor %}
        {% endif %}
    </div>
</div>
{% endspaceless %}

<div class="modal hide fade" tabindex="-1" role="dialog" id="pass-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Войти</h3>
  </div>
  <div class="modal-body">
    <form id="modal-login-form">
        <label class="control-label" for="{{ sign_in_form.identification.auto_id }}">{{ sign_in_form.identification.label }}</label>
          {{ sign_in_form.identification }}
        <label class="control-label" for="{{ sign_in_form.password.auto_id }}">{{ sign_in_form.password.label }}</label>
        {{ sign_in_form.password }}
        <a href="{% url userena_password_reset %}" target="blank">Забыл пароль :(</a>
    </form>    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    <button class="btn btn-primary" id="modal-login-form-submit">Войти</button>
  </div>
</div>

<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU"
            type="text/javascript"></script>

<script type="text/javascript">
// Как только будет загружен API и готов DOM, выполняем инициализацию
ymaps.ready(init);

function init () {
    var myMap = new ymaps.Map("map", {
            center: {% spaceless %}
              {% if company.c_geo %}
                [{{company.c_geo}}]
              {% else %}
                {% if company.c_city %}
                  [{{company.c_city.longitude|replace_comma}}, {{company.c_city.latitude|replace_comma}}]
                {% else %}
                  [55.76, 37.64]
                {% endif %}
              {% endif %}
            {% endspaceless %},
            zoom: 15
        });

        myMap.controls
        // Кнопка изменения масштаба
        .add('zoomControl')
        // Список типов карты
        .add('typeSelector')
        // Кнопка изменения масштаба - компактный вариант
        // Расположим её справа
        // .add('smallZoomControl', { right: 5, top: 75 })
        // Стандартный набор кнопок
        .add('mapTools');

    // Добавляем метки на карту
    {% spaceless %}      
    {% if company.c_geo %}
      myPlacemark = new ymaps.Placemark([{{company.c_geo}}]);
    {% else %}
      {% if company.c_city %}
        myPlacemark = new ymaps.Placemark([{{company.c_city.longitude|replace_comma}}, {{company.c_city.latitude|replace_comma}}]);
      {% endif %}
    {% endif %}
    {% endspaceless %}
    myMap.geoObjects.add(myPlacemark);
}

$(document).ready(function(){

  $(document).on('click', ".comment_div p button", function(e){
    btnc = $(this);
    btnc_div = btnc.parent().parent();
    form_text = "<textarea name='comment_comment' class='full-width'></textarea> <button class='btn btn-success' data-btn='save'><i class='icon-ok icon-white'></i> Сохранить</button> <button class='btn' data-btn='cancel'><i class='icon-remove'></i> Отменить</button>";
    btnc_div.html(form_text);
  });

  $(document).on('click', "button[data-btn='cancel']", function(e){
    btnc = $(this);
    btnc_div = btnc.parent();
    form_text = "<p class='pull-right'><button class='btn btn-link'>Ответить на комментарий</button></p>";
    btnc_div.html(form_text);    
  });

  $(document).on('click', "button[data-btn='save']", function(e){
    btnc = $(this);
    btnc_div = btnc.parent();
    $.post("{% url comment_company %}", 
      {
        comment: btnc_div.find("textarea[name='comment_comment']").val(),
        comment_type: 'simple',
        parent: btnc_div.attr("data-comment"),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      function(data){
        if (data.success == 1){
          form_text = "<div class='alert alert-success child-comment'>" + data.comment_text + "</div>";
          btnc_div.html(form_text);            
        }
      }
    );
  });

  $(document).on('click', ".c_r_div p button", function(e){
    btnc = $(this);
    btnc_div = btnc.parent().parent();
    form_text = "<div class='full-width'><textarea name='comment_comment' style='width: 65%;'></textarea> <div class='btn-group btn-group-vertical' data-toggle='buttons-radio'> <button type='button' class='btn btn-success active' data-placement='right' rel='tooltip' title='Принять! Ваш заказ?' value='1'><i class='icon-thumbs-up icon-white'></i></button> <button type='button' class='btn btn-danger' data-placement='right' rel='tooltip' title='Не принимать. Не ваш заказ?' value='0'><i class='icon-thumbs-down icon-white'></i></button> </div> </div> <button class='btn btn-success' data-btn='crsave'><i class='icon-ok icon-white'></i> Сохранить</button> <button class='btn' data-btn='cancel'><i class='icon-remove'></i> Отменить</button>";
    btnc_div.html(form_text);
  });

  $(document).on('click', "button[data-btn='crsave']", function(e){
    btnc = $(this);
    btnc_div = btnc.parent();
    taken_btn = btnc_div.find(".btn-group button.active");

    $.post("{% url comment_company %}", 
      {
        comment: btnc_div.find("textarea[name='comment_comment']").val(),
        comment_type: 'final',
        taken: taken_btn.val(),
        parent: btnc_div.attr("data-comment"),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      function(data){
        if (data.success == 1){
          var alert_inf = '';
          if (data.com_type == 1) {
            alert_inf = 'alert-success';
          }
          else if (data.com_type == 2) {
            alert_inf = 'alert-error';
          }
          form_text = "<div class='alert " + alert_inf + " child-comment'>" + data.comment_text + "</div>";
          btnc_div.html(form_text);            
        }
      }
    );
  });

  $('body').tooltip({
      selector: '[rel=tooltip]',
      html: true
  });

});
</script>

{% endblock %}