{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div id="center-reg-div">    
<form action="" method="post" class="form-horizontal" id="new-reg-form">
    <legend>Регистрация</legend>
{% csrf_token %}
{% spaceless %}

{{ form.errors }}

<div class="control-group{% if form.name.errors %} error{% endif%}">
    <label class="control-label" for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
    <div class="controls">
        {{ form.name }} 
        <span class="help-inline">
        {% if form.name.errors %}
            {% for error in form.name.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
</div>
<div class="control-group{% if form.email.errors %} error{% endif%}">
    <label class="control-label" for="{{ form.email.auto_id }}">{{ form.email.label }}</label>
    <div class="controls">
        {{ form.email }} 
        <span class="help-inline">
        {% if form.email.errors %}
            {% for error in form.email.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
</div>
<div class="control-group{% if form.password1.errors %} error{% endif%}">
    <label class="control-label" for="{{ form.password1.auto_id }}">{{ form.password1.label }}</label>
    <div class="controls">
        {{ form.password1 }} 
        <span class="help-inline">
        {% if form.password1.errors %}
            {% for error in form.password1.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
</div>
<div class="control-group{% if form.password2.errors %} error{% endif%}">
    <label class="control-label" for="{{ form.password2.auto_id }}">{{ form.password2.label }}</label>
    <div class="controls">
        {{ form.password2 }} 
        <span class="help-inline">
        {% if form.password2.errors %}
            {% for error in form.password2.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
</div>
<div class="control-group{% if form.phone.errors %} error{% endif%}">
    <label class="control-label" for="{{ form.phone.auto_id }}">{{ form.phone.label }}</label>
    <div class="controls">
        {{ form.phone }}
        <span class="help-inline">
        {% if form.phone.errors %}
            {% for error in form.phone.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
</div>
<div class="control-group{% if form.city_select.errors %} error{% endif%}">
    <label class="control-label" for="{{ form.city_select.auto_id }}">{{ form.city_select.label }}</label>
    <div class="controls">
        <input type="text" name="{{ form.city_select.html_name }}" id="{{ form.city_select.auto_id }}" value="{{init_city_name}}" required="required" data-provide="typeahead" class="typeahead input-xlarge" autocomplete="off">
        {% if form.city_select.errors %}
        <span class="help-inline">
            {% for error in form.city_select.errors %}
            {{ error }}
            {% endfor %}
        </span>
        {% endif %}
        <input type="hidden" name="{{ form.city.html_name }}" id="{{ form.city.auto_id }}" value="{{ init_city_id }}">
        {{ form.role }}
        {{ form.master }}
    </div>
    {% if example_citys|length > 0 %}
    <div class="controls" id="your_citys">Например:
        {% for key, value in example_citys.items %}{% spaceless %}
            <a href="#" id="example_city_{{ key }}" data-long="{{ value.1 }}">{{ value.0 }}</a>{% if not forloop.last %},&nbsp;{% endif %}
        {% endspaceless %}{% endfor %}
    </div> 
    {% endif %}
</div>
        <div class="controls">
        <button type="submit" class="btn btn-primary"><i class="icon-thumbs-up icon-white"></i> Регистрация</button>
        </div>
</form>
</div>
{% endspaceless %}

<script>
$(document).ready(function(){
    $('#id_city_select').typeahead({
        source: function(query, process){
            objects = [];
            map = {};
            $.get("{% url get_citys %}", {query: query}, function(data){
                jdata = data;
            });
            $.each(jdata, function(i, object) {
                map[object.nname] = object;
                objects.push(object.nname);
            });       
            process(objects);     
        },
        updater: function(item) {
            $('#id_city').val(map[item].id);
            return item;
        }        
    });

    $('div#your_citys a').click(function(e) {
        citya = $(this);
        citylongname = citya.attr('data-long');
        cityid = citya.attr('id').split('_')[2];

        $('#id_city').val(cityid);
        $('#id_city_select').val(citylongname);
        e.preventDefault();
    });

});
</script>
{% endblock %}
