{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
  <ul class="nav nav-pills">
    <li><a href="{% url 'userena_profile_detail' user.username %}"><span>{% trans 'View profile' %}</span></a></li>
    <li><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit profile" %}</a></li>
    <li><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
    <li class="active"><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></li>
            {% if user.my_profile.master %}
            <li>
              <a href="{% url 'show_company' user.my_profile.company.id %}">Страница фирмы</a>
            </li>
            {% endif %}
  </ul>
<div id="center-reg-div">  
<form action="" method="post" id="new-reg-form" class="form-horizontal">
    <legend>{% trans "Change email address" %}</legend>
    {% csrf_token %}
    {% for field in form %}
    <div class="control-group{% if field.errors %} error{% endif%}">
        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        <div class="controls">
            {{ field }} 
            <span class="help-inline">
            {% if field.errors %}
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            {% endif %}
            </span>
        </div>
    </div>
    {%endfor%}
    <div class="controls">
    <button type="submit" class="btn btn-primary"><i class="icon-thumbs-up icon-white"></i> {% trans "Change email" %}</button>
    </div>
</form>
</div>
{% endblock %}