{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div id="center-reg-div">  
<form action="" method="post" id="new-reg-form" class="form-horizontal">
    <legend>{% trans "Reset Password" %}</legend>
    {% csrf_token %}
    {% for field in form %}
    <div class="control-group{% if field.errors %} error{% endif%}">
        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        <div class="controls">
            {{ field }} 
            <span class="help-inline">
            {% if field.errors %}
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            {% endif %}
            </span>
        </div>
    </div>
    {%endfor%}
    <div class="controls">
    <button type="submit" class="btn btn-primary"><i class="icon-thumbs-up icon-white"></i> {% trans "Send password" %}</button>
    </div>
</form>
</div>
{% endblock %}