{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block content %}
  <div class="white-box">
    {% block profile_navigation %}
      {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
      {% if user.username == profile.user.username %}
        <ul class="nav nav-pills">
          {% block profile_navigation_items %}
            <li class="active"><a href="{% url 'userena_profile_detail' user.username %}"><span>{% trans 'View profile' %}</span></a></li>
            <li><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit profile" %}</a></li>
            <li><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
            <li><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a>
            </li>
            {% if user.my_profile.master %}
            <li>
              <a href="{% url 'edit_company' user.my_profile.company.id %}">Страница фирмы</a>
            </li>
            {% endif %}
          {% endblock %}
        </ul>
      {% endif %}
    {% endblock %}

    <div id="row">
      {% block profile_details %}
      <div class="span4">
        <img class="img-polaroid" src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
      </div> 
        <dl class="dl-horizontal span6">
          {% block profile_definition_list %}
            {% if profile.user.get_full_name %}
              <dt>{% trans "Name" %}</dt>
              <dd>{{ profile.user.get_full_name }}</dd>
            {% endif %}
            {% if profile.user.email and not hide_email %}
              {% if user.username == profile.user.username %}
              <dt>{% trans "Email" %}</dt>
              <dd>{{ profile.user.email }}</dd>
              {% endif %}
            {% endif %}
            {% if profile.city.name %}
              <dt>{% trans "Location" %}</dt>
              <dd>{{ profile.city.name }}</dd>
            {% endif %}
          {% endblock %}
        </dl>
      {% endblock %}
    </div>
  </div>
{% endblock %}