{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
  <ul class="nav nav-pills">
    <li><a href="{% url 'userena_profile_detail' user.username %}"><span>{% trans 'View profile' %}</span></a></li>
    <li class="active"><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit profile" %}</a></li>
    <li><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
    <li><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></li>
            {% if user.my_profile.master %}
            <li>
              <a href="{% url 'edit_company' user.my_profile.company.id %}">Страница фирмы</a>
            </li>
            {% endif %}
  </ul>
<div id="center-reg-div">  
<form action="" method="post" id="edit-reg-form" class="row-fluid form-horizontal">
    <legend>{% trans "Edit Profile" %}</legend>
    {% csrf_token %}
    <div class="span3">
        <img class="img-polaroid" src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
        {{ form.mugshot }}
    </div>
    <div class="span8">
    {% for field in form %}
        {% if field.name != 'mugshot' and field.name != 'city_select' and field.name != 'city' %}
        <div class="control-group{% if field.errors %} error{% endif%}">
            <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
            <div class="controls">
                {{ field }} 
                <span class="help-inline">
                {% if field.errors %}
                    {% for error in field.errors %}
                    {{ error }}
                    {% endfor %}
                {% endif %}
                </span>
            </div>
        </div>
        {% endif %}
        {% if field.name == 'city_select' %}
        <div class="control-group{% if form.city_select.errors %} error{% endif%}">
            <label class="control-label" for="{{ form.city_select.auto_id }}">{{ form.city_select.label }}</label>
            <div class="controls">
                <input type="text" name="{{ form.city_select.html_name }}" id="{{ form.city_select.auto_id }}" value="{{init_city_name}}" required="required" data-provide="typeahead" class="typeahead input-xlarge" autocomplete="off">
                {% if form.city_select.errors %}
                <span class="help-inline">
                    {% for error in form.city_select.errors %}
                    {{ error }}
                    {% endfor %}
                </span>
                {% endif %}
                <input type="hidden" name="{{ form.city.html_name }}" id="{{ form.city.auto_id }}" value="{{ init_city_id }}">
            </div>
            {% if example_citys|length > 0 %}
            <div class="controls" id="your_citys">Например:
                {% for key, value in example_citys.items %}{% spaceless %}
                    <a href="#" id="example_city_{{ key }}" data-long="{{ value.1 }}">{{ value.0 }}</a>{% if not forloop.last %},&nbsp;{% endif %}
                {% endspaceless %}{% endfor %}
            </div> 
            {% endif %}
        </div>

        {% endif %}
    {% endfor %}
    <div class="controls">
        <button type="submit" class="btn btn-primary"><i class="icon-thumbs-up icon-white"></i> {% trans "Save changes" %}</button>
    </div>
</div>
</form>
</div>

<script>
$(document).ready(function(){
    $('#id_city_select').typeahead({
        source: function(query, process){
            objects = [];
            map = {};
            $.get("{% url 'get_citys' %}", {query: query}, function(data){
                jdata = data;
            });
            $.each(jdata, function(i, object) {
                map[object.nname] = object;
                objects.push(object.nname);
            });       
            process(objects);     
        },
        updater: function(item) {
            $('#id_city').val(map[item].id);
            return item;
        }        
    });

    $('div#your_citys a').click(function(e) {
        citya = $(this);
        citylongname = citya.attr('data-long');
        cityid = citya.attr('id').split('_')[2];

        $('#id_city').val(cityid);
        $('#id_city_select').val(citylongname);
        e.preventDefault();
    });

});
</script>

{% endblock %}