{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}
<div id="center-reg-div">  
<form action="" method="post" id="new-reg-form" class="form-horizontal">
  {% csrf_token %}
    <legend>{% trans "Signin" %}</legend>
    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field.errors }}
    {% comment %} Displaying checkboxes differently {% endcomment %}
    {% if field.name == 'remember_me' %}
    <div class="controls">
    <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
    </div>
    {% else %}
    <div class="control-group{% if field.errors %} error{% endif%}">
        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        <div class="controls">
            {{ field }} 
            <span class="help-inline">
            {% if field.errors %}
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            {% endif %}
            </span>
        </div>
    </div>
    {% endif %}
    {% endfor %}

    <div class="controls">
    <button type="submit" class="btn btn-primary"><i class="icon-thumbs-up icon-white"></i> {% trans "Signin" %}</button>
    <p class="pull-right">
    <a href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a></p>
    </div>

  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>
</div>
{% endblock %}